buyproperty/__init__.pyc
buyproperty/admin.pyc
buyproperty/migrations/__init__.pyc
buyproperty/models.pyc
buyproperty/urls.pyc
buyproperty/views.pyc
property/__init__.pyc
property/settings.pyc
property/urls.pyc
property/wsgi.pyc
.idea/
