.dida-message-us {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  bottom: 6vh;
  right: 12vh;
  position: fixed;
  z-index: 3;
  background-color: #ffffff;
  border: 1px solid #c2c4c8;
  color: #000;
  border-radius: 5px;
  padding: 7px 8px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased!important;
  display: flex;
  align-items: center;
}
.dida-message-us:hover {
  background-color: #313131;
  border: 1px solid #313131;
  color: #ffffff;
}
.imp-padding-top20 {
  padding-top: 20px!important;
}
