.dida-message-us {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  bottom: 6vh;
  right: 12vh;
  position: fixed;
  z-index: 3;
  background-color: #ffffff;
  border: 1px solid #c2c4c8;
  color: #000;
  border-radius: 5px;
  padding: 7px 8px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased!important;
  display: flex;
  align-items: center;
}
.dida-message-us:hover {
  background-color: #313131;
  border: 1px solid #313131;
  color: #ffffff;
}
.imp-padding-top20 {
  padding-top: 20px!important;
}
.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 0;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #3fb618;
  border-color: #4e9f15;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #438912;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.alert-info {
  background-color: #9954bb;
  border-color: #7643a8;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #693c96;
}
.alert-info .alert-link {
  color: #e6e6e6;
}
.alert-warning {
  background-color: #ff7518;
  border-color: #ff4309;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #ee3800;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #ff0039;
  border-color: #f0005e;
  color: #ffffff;
}
.alert-danger hr {
  border-top-color: #d60054;
}
.alert-danger .alert-link {
  color: #e6e6e6;
}
@media (max-width: 567px) {
    .rle_header_wrapper.style_2 .rle_menu_btn{
        top:-54px !important;
    }
    .rle_pagetitle_wrapper{
        margin-top: 100px !important;
    }
    .containerCheckbox > input{
        display: none !important;
    }
    .rle_main_menu_wrapper{
        z-index: 2;
        position:fixed;
        left: 0px;
        top: 0px;
        bottom:0px;
        width:80%;
        background-color:#ffffff;
        -webkit-box-shadow: 0px 3px 15px -5px #000000;
        -moz-box-shadow: 0px 3px 15px -5px #000000;
        -o-box-shadow: 0px 3px 15px -5px #000000;
        -ms-box-shadow: 0px 3px 15px -5px #000000;
        box-shadow: 0px 3px 15px -5px #000000;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}