.dida-message-us {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  bottom: 6vh;
  right: 12vh;
  position: fixed;
  z-index: 3;
  background-color: #0f1c2f !important;
  border: #2a2a2a !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 7px 8px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased!important;
  display: flex;
  align-items: center;
}
.dida-message-us:hover {
  background-color: #00aeef !important;
  border: blue;
}
