{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}
{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <div class="container-fluid">
        <div class="row" style="margin-top: 100px"></div>
        <div class="row">
            <div class="col-md-12">
                {% if leads %}
                    <table class="table table-responsive-lg table-bordered leads">
                    <thead>
                        <tr >
                            <th>Lead ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Property ID</th>
                            <th>Partner Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads %}
                            <tr class="table-info odd">
                                <td><a>#{{ lead.id }}</a></td>
                                <td>{{ lead.name }}</td>
                                <td><a href="mailto:{{ lead.email }}">{{ lead.email }}</a> </td>
                                <td>{{ lead.country_code }}{{ lead.contact }}</td>
                                <td><a href="../property-details/?p={{ lead.for_property.id }}">{{ lead.for_property.property_id }}</a></td>
                                <td>{{ lead.partner_type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% else %}
                    <div class="alert alert-info">
                        There are currently no leads available.
                    </div>

{#                    <div class="row" style="margin-top: 30px">#}
{#                        <div class="col-md-12">#}
{#                            <button class="btn btn-xs btn-info is-line-height {% if view.get_lead_from == "0" %}disabled{% endif %}" onclick="previousRecord()" id="previous-customer-lead" {% if view.get_lead_from == "0" %}disabled{% endif %}>Previous</button>#}
{#                            <button class="btn btn-xs btn-info is-line-height disabled" style="margin-left: 20px" id="next-customer-lead" disabled>Next</button>#}
{#                        </div>#}
{#                    </div>#}

                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block page_level_scripts %}
    <script>
/*
        $("#next-customer-lead").on("click", function () {
            window.location =
                "/_/dash/leads/?item_from=" + (parseInt(getUrlParameter("item_from")) + 9) +
                "&item_to=" + (parseInt(getUrlParameter("item_to")) + 9);
        });
        $("#previous-customer-lead").on("click", function () {
            window.location =
                "/_/dash/leads/?item_from=" + (parseInt(getUrlParameter("item_from")) - 9) +
                "&item_to=" + (parseInt(getUrlParameter("item_to")) - 9);
        });

*/
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(".leads").DataTable({
            "order": []
        });
    </script>

{% endblock %}