{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 100px"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-body">
                        <h3>Welcome</h3>
                        <p>To get started, head over to leads.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        Properties Statistics
                    </div>
                    <div class="card-body">
                        {% if counts %}
                            <h4>You have updated {{ counts.property_count }} properties in the last 7 days.</h4>
                        {% else %}
                            <h4>You have updated {{ counts }} properties in the last 7 days.</h4>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        Agent Leads Statistics
                    </div>
                    <div class="card-body">
                        {% if counts %}
                            <h4>You have received {{ counts.agent_lead_count }} leads in the last 24 hours.</h4>
                        {% else %}
                            <h4>You have received {{ counts }} leads in the last 24 hours.</h4>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        Customer Leads Statistics
                    </div>
                    <div class="card-body">
                        {% if counts %}
                            <h4>You have received {{ counts.customer_lead_count }} leads in the last 24 hours.</h4>
                        {% else %}
                            <h4>You have received {{ counts }} leads in the last 24 hours.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-body">
                        <h4>Need help?</h4>
                        <p>
                            <b>Email</b>: info@indiaaccelerator.co<br>
                            <b>Phone</b>: +91 124 404 2811;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static 'theme/js/dashboard.js' %}"></script>