{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 100px"></div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card card-default">
                    <div class="card-body">
                        <form class="form" action="" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <span id="login-error" style="color:red"></span>
                                <label class="label">email</label>
                                <input class="form-control" placeholder="username" id="id_username" name="username">
                                <span id="email-error" hidden style="color:red">Please enter valid email id.</span>
                            </div>
                            <div class="form-group">
                                <label class="label">password</label>
                                <input class="form-control" placeholder="password" id="id_password" name="password" type="password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-primary" type="submit" id="login_btn" onclick="login();">Login</button>
                                <button class="btn btn-xs btn-primary" type="submit" id="login_submit" hidden disabled><img height="25px" src="{% static 'theme/images/morph-shape-gif-preloader.gif' %}"></button>
                            </div>
                        </form>
                        <a class="btn btn-xs btn-secondary" href="/admin/">Visit Super Admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'theme/js/shortcuts.js' %}"></script>
    <script src="{% static 'theme/js/login.js' %}"></script>
{% endblock %}