{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="vue-property-create-app">
        <div class="container-fluid pt-10" style="background-color:#DFE4E7;height: 100%">
            <div class="row" style="margin-top: 100px"></div>
            <div class="row">
                <div class="col-md-8 scroll-col">
                    <div class="card card-default">
                        <div class="card-header">
                            <b>Basic Details</b>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="property-name">Property Name</label>
                                <input class="form-control" size="250" required type="text" v-model="newProperty.propertyName">
                            </div>
                            <div class="form-group">
                                <label for="new-email">Property Description</label>
                                <textarea class="form-control" v-model="newProperty.propertyDesc" name="update" required></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="new-email">Property ID</label>
                                        <input class="form-control" size="20" required type="text" v-model="newProperty.propertyID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="new-email">Property Age</label>
                                        <input class="form-control" size="3" required type="number" v-model="newProperty.propertyAge">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="new-email">Country Code</label>
                                        <select name="project-status" class="form-control" v-model="newProperty.countryCode">
                                            <option disabled selected>Choose Any Option</option>
                                            <option value="+91">+91</option>
                                            <option value="+93">+93</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="new-email">Contact Number</label>
                                        <input class="form-control" size="10" required type="number" v-model="newProperty.contactNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Address Details</b>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contact-name">Name</label>
                                <input class="form-control" required type="text" v-model="newAddress.contactName">
                            </div>
                            <div class="form-group">
                                <label for="street-line-1">Line 1</label>
                                <input class="form-control" required type="text" v-model="newAddress.streetLine1">
                            </div>
                            <div class="form-group">
                                <label for="street-line-2">Line 2</label>
                                <input class="form-control" required type="text" v-model="newAddress.streetLine2">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input class="form-control" required type="text" v-model="newAddress.city">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input class="form-control" required type="text" v-model="newAddress.state">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <input class="form-control" required type="text" v-model="newAddress.country">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="zip">Zip</label>
                                        <input class="form-control" required type="number" v-model="newAddress.zip">
                                    </div>
                                </div>
                            </div>
{#                            <button class="btn btn-success mt-20" v-on:click="createAddress">Create Address</button>#}
                        </div>
{#                        <div class="card-body">#}
{#                            <div class="form-group">#}
{#                                <label for="new-email">Select Address</label>#}
{#                                <select name="project-status" class="form-control" v-model="newProperty.address">#}
{#                                    <option disabled selected>Choose Any Option</option>#}
{#                                    <option value="+91">+91</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <a href="#" class="mt-15 mb-20 d-block" data-target="#address-modal" data-toggle="modal">Add New Address</a>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Charge Details</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="new-email">Rental charge</label>
                                        <input class="form-control" type="number" required v-model="newProperty.rentCharge">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="new-email">Monthly Maintenance</label>
                                        <input class="form-control" type="number" required v-model="newProperty.monthlyMaintenance">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="new-email">Security Deposits</label>
                                        <input class="form-control" v-model="newProperty.securityDeposits" type="number" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="mt-15"><b>Other Charges</b></p>
                                    <div class="row" id="other-charge-heading">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="new-email">Charges Description</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="new-email">Charges Amount</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="other-charge-parent">

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <a href="#" class="mt-15 mb-20 d-block" v-on:click="addOtherCharge">Add Other Charges</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>More Details</b>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="new-email">Flooring Details</label>
                                <textarea class="form-control" v-model="newProperty.floorDetails" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="new-email">Ceiling Details</label>
                                <textarea class="form-control" v-model="newProperty.ceilingDetails" required></textarea>
                            </div>
                            <p class="mt-15"><b>Washroom Details</b></p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="new-email">Urinal</label>
                                                <input class="form-control" v-model="newProperty.washroomDetails.urinal" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="new-email">WC</label>
                                                <input class="form-control" v-model="newProperty.washroomDetails.wC" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="new-email">Landmark</label>
                                    <div class="row" id="add-landmark">

                                    </div>
                                    <a href="#" class="mt-15 mb-20 d-block" v-on:click="addLandmark">Add New Landmark</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="new-email">Overlooking</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="project-status" class="form-control" v-model="newProperty.overlookingList">
                                                <option disabled selected>Choose Any Option</option>
                                                <option value="semi">Semi Furnished</option>
                                                <option value="bare">Bareshell</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="new-email">Media</label>
    {#                                <div class="row">#}
    {#                                    <div class="col-md-6">#}
    {#                                        <div class="row">#}
    {#                                            <input type="file" name="images" multiple style="visibility: hidden" @change="uploadProductImage" id="select-image-hidden">#}
    {#                                            <span class="help-block"></span>#}
    {#                                        </div>#}
    {#                                        <div v-if="!product.productImages.imageList.length">#}
    {#                                                <span>No image selected! ☹️ Please upload images.</span>#}
    {#                                        </div>#}
    {#                                        <div class="row col-md-6 insert-preview-images-here">#}
    {#                                            <div class="preview-image-template" v-if="product.productImages.imageList" v-for="(image, index) in product.productImages.imageList">#}
    {#                                                <div class="col-md-5 pointer">#}
    {#                                                    <div class="pull-right" id="removed-image">#}
    {#                                                        <a href="#" class="product-delete_image" v-on:click="removeImage(index)">x</a>#}
    {#                                                    </div>#}
    {#                                                    <div class="product-images--preview-image">#}
    {#                                                        <a href="#" class="open-image-edit-modal">#}
    {#                                                            <i class="fa fa-pencil fa-lg"></i>#}
    {#                                                        </a>#}
    {#                                                    </div>#}
    {#                                                    <img :src="image['image']" class="preview-image"  data-toggle="modal" :data-target="`#edit-image-info-modal-${index}`" v-on:click="imageSlider.currentIndex=index">#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <a href="javascript:;" v-on:click="selectProductImage" class="mt-15 mb-20 d-block">Select Image</a>#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="new-email">Nearest Buildings</label>
                                    <div class="row" id="nearest-building">

                                    </div>
                                    <a href="#" class="mt-15 mb-20 d-block" v-on:click="addNearest">Add New Nearest Buildings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 scroll-col">
                    <div class="card card-default">
                        <div class="card-header">
                            <b>Property Features</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" v-model="newProperty.pantry" class="mr-10" required/>
                                                <label for="new-email">Pantry</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.washroom" required/>
                                                <label for="new-email">Washroom</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.powerBackup" required/>
                                                <label for="new-email">Power Backup</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.liftAvailability" required/>
                                                <label for="new-email">Lift Availability</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.airConditioner" required/>
                                                <label for="new-email">Air Conditioner</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.cctv" required/>
                                                <label for="new-email">CCTV</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.cafeteria" required/>
                                                <label for="new-email">Cafeteria</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.fireSprinklers" required/>
                                                <label for="new-email">Fire Sprinklers</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.earthing" required/>
                                                <label for="new-email">Earthing</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.electricalConnection" required/>
                                                <label for="new-email">Electrical Connection</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>More Features</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="new-email" class="mr-10">Furnishing Status</label>
                                    <select name="project-status" class="form-control" v-model="newProperty.furnishingStatus">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="semi">Semi Furnished</option>
                                        <option value="bare">Bareshell</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="new-email" class="mr-10">Parking</label>
                                    <select name="project-status" class="form-control" v-model="newProperty.parking">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="cover">Covered</option>
                                        <option value="expose">Exposed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="new-email" class="mr-10">Facing</label>
                                    <select name="project-status" class="form-control" v-model="newProperty.facing">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="n">North</option>
                                        <option value="ne">North East</option>
                                        <option value="nw">North West</option>
                                        <option value="s">South</option>
                                        <option value="se">South East</option>
                                        <option value="sw">South West</option>
                                        <option value="e">East</option>
                                        <option value="w">West</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="new-email" class="mr-10">Flooring</label>
                                    <select name="project-status" v-model="newProperty.flooring" class="form-control">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="tile">Tiles</option>
                                        <option value="wood">Wooden</option>
                                        <option value="carpet">Carpet</option>
                                        <option value="bare">Bare</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="new-email" class="mr-10">Unit of Area</label>
                                    <select name="project-status" class="form-control" v-model="newProperty.unitOfArea">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="sqmt">Square Mt.</option>
                                        <option value="sqft">Square Ft.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Property Details</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="new-email">Number of Floors</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.noOfFloors" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Total Numbers of Floors</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.totalNoOfFloors" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Number of Basements</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.numberOfBasements" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Units on Floors</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.unitsOnFloors" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Parking Area</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.parkingArea" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Ceiling Height</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.ceilingHeight" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Beam Height</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.beamHeight" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Lease Term</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.leaseTerm" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Carpet Area</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.carpetArea" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Buildup Area</label>
                                        <input type="number" class="form-control mr-10" v-model="newProperty.buildupArea" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success mt-20 mb-20" v-on:click="createProperty">Create Property</button>
            <a href="/properties/" class="btn btn-primary ml-20 mt-30 mb-30" data-dismiss="modal">View Property List</a>

            <!-- address modal -->
            <div class="modal" tabindex="-1" role="dialog" id="address-modal">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Create New Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="contact-name">Name</label>
                            <input class="form-control" required type="text" v-model="newAddress.contactName">
                        </div>
                        <div class="form-group">
                            <label for="street-line-1">Line 1</label>
                            <input class="form-control" required type="text" v-model="newAddress.streetLine1">
                        </div>
                        <div class="form-group">
                            <label for="street-line-2">Line 2</label>
                            <input class="form-control" required type="text" v-model="newAddress.streetLine2">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input class="form-control" required type="text" v-model="newAddress.city">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input class="form-control" required type="text" v-model="newAddress.state">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input class="form-control" required type="text" v-model="newAddress.country">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="zip">Zip</label>
                                    <input class="form-control" required type="number" v-model="newAddress.zip">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success mt-20" v-on:click="createAddress">Create Address</button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end address modal -->

        </div>
    </div>
    <script src="{% static 'theme/js/property-create.js' %}"></script>

{% endblock %}