{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <div class="container-fluid">
        <div class="row" style="margin-top: 100px"></div>
        <div class="row">
            <div class="col-md-12">
                {% if property_list %}
                    <table class="table table-responsive-lg table-bordered leads">
                    <thead>
                        <tr>
                            <th>Property ID</th>
                            <th>Title</th>
                            <th>Address</th>
                            <th>Landmark</th>
                            <th>Buildup Area</th>
                            <th>No. Of FLoors | Total Floors</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in property_list %}
                            <tr class="table-info">
                                <td><a href="../property-details/?p={{ property.pk }}">#{{ property.property_id }}</a> </td>
                                <td>{{ property.property_name }}</td>
                                <td>{{ property.address }} </td>
                                {% if property.landmark %}
                                    <td>{{ property.landmark }}</td>
                                {% else %}
                                    <td>--------</td>
                                {% endif %}
                                <td>{{ property.buildup_area}} {{ property.unit_of_area }}</td>
                                <td>{{ property.number_of_floors }} | {{ property.total_number_of_floors }} </td>
                                <td>{{ property.country_code }} &nbsp;{{ property.contact }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
    
                {% else %}
                    <div class="alert alert-info">
                        There are currently no properties available.
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-md-12">
                            <button class="btn btn-xs btn-info is-line-height {% if view.get_lead_from == "0" %}disabled{% endif %}" onclick="previousRecord()" id="previous-customer-lead" {% if view.get_lead_from == "0" %}disabled{% endif %}>Previous</button>
                            <button class="btn btn-xs btn-info is-line-height disabled" style="margin-left: 20px" id="next-customer-lead" disabled>Next</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
<script src="{% static 'theme/js/property-list.js' %}"></script>
{% block page_level_scripts %}
    <script>
    /*
        $("#next-customer-lead").on("click", function () {
            window.location =
                "/_/dash/leads/?item_from=" + (parseInt(getUrlParameter("item_from")) + 9) +
                "&item_to=" + (parseInt(getUrlParameter("item_to")) + 9);
        });
        $("#previous-customer-lead").on("click", function () {
            window.location =
                "/_/dash/leads/?item_from=" + (parseInt(getUrlParameter("item_from")) - 9) +
                "&item_to=" + (parseInt(getUrlParameter("item_to")) - 9);
        });
      */
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(".leads").DataTable({
            "order": [[ 0, "asc" ]]
        });
    </script>
    <script src="{%  static 'theme/js/property-list.js'   %}"></script>
{% endblock %}