{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<style>
#loading {
    position: absolute;
    left:680px;
    top:150px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}
</style>
{% endblock %}

{% block content %}
    <div id="vue-property-create-app">
        <div class="container-fluid pt-10" style="background-color:#DFE4E7;height: 100%">
            <div class="row" style="margin-top: 100px"></div>

            <div class="row">
                <div id="loading" class="table-preloader" v-bind:class="{ hidden:processing }">
                    <img src="{% static 'theme/images/preloader.gif' %}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 scroll-col">
                    <div class="card card-default">
                        <div class="card-header">
                            <b>Basic Details</b>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="property-name">Property Name<sup  style="color: red;">*</sup></label>
                                <input class="form-control" maxlength="250" required type="text" v-model="newProperty.propertyName">
                            </div>
                            <div class="form-group">
                                <label for="property-description">Property Description</label>
                                <textarea class="form-control" v-model="newProperty.propertyDesc" name="update" required></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-id">Property ID<sup  style="color: red;">*</sup></label>
                                        <input class="form-control" maxlength="20" required type="text" v-model="newProperty.propertyID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-age">Property Age<sup  style="color: red;">*</sup></label>
                                        <input class="form-control" onKeyPress="if(this.value.length===2) return false;" type="number" v-model="newProperty.propertyAge">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country-code">Country<sup  style="color: red;">*</sup></label>
                                        <select name="country-code" id="select-country-code" class="form-control" v-model="newProperty.countryCode">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact-number">Contact Number<sup  style="color: red;">*</sup></label>
                                        <input class="form-control" onKeyPress="if(this.value.length===10) return false;"  required type="number" v-model="newProperty.contactNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Images</b>
                    </div>

                    <div class="card-body">

                        <div class="float-right">
                            <a href="javascript:;" v-on:click="selectPropertyImage"><h5>Select Banner Images</h5></a>
                        </div>


                        <div class="row">
                            <input type="file" name="images" multiple style="visibility: hidden" @change="uploadPropertyImage" id="select-image-hidden">
                            <span class="help-block"></span>
                        </div>
                        <div v-if="!propertyImages.imageList.length">
                                <span>No image selected! ☹️ Please upload images.</span>
                        </div>
                        <div class="row col-md-6 insert-preview-images-here">
                            <div class="preview-image-template" v-if="propertyImages.imageList" v-for="(image, index) in propertyImages.imageList">
                                <div class="col-md-5 pointer">
                                    <div class="pull-right" id="removed-image">
                                        <a href="#" class="product-delete_image" v-on:click="removeImage(index)">x</a>
                                    </div>
                                    <div class="product-images--preview-image">
                                        <a href="#" class="open-image-edit-modal">
                                            <i class="fa fa-pencil fa-lg"></i>
                                        </a>
                                    </div>

                                    <img  :src="image['image']" class="preview-image"  width="125" height="130" v-on:click="imageSlider.currentIndex=index">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Videos</b>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <div id="banner-vid-parent">

                            </div>
                            <a href="#" class="mt-15 d-block" v-if="propertyVideos.length === 0" v-on:click="addVideoUrlFields()">Add New Video URL</a>
                            <a href="#" class="mt-15 d-block" v-else="propertyVideos.length === 0"></a>
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="help-box variants-help color-grey" v-if="propertyVideos.length === 0">
                                        Add video url, youtube url etc.
                                    </div>
                                    <div v-if="propertyVideos.length > 0">
                                        <table class="table table-responsive variants-table">
                                            <thead >
                                                <tr>
                                                    <th style="">Video url</th>
                                                    <th style="border: none;"></th>
                                                    <th style="border: none;"></th>
                                                </tr>
                                            </thead>
                                            <tr v-for="(key, index) in propertyVideos">
                                                <td>
                                                    <input maxlength="250" size="80" class="form-control" v-model="key['url']" type="text">
                                                </td>
                                                <td>
                                                    <button @click="removeVideoUrlFields(index)" type="button" class="btn btn-danger">
                                                      Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <td>
                                            <button @click="addVideoUrlFields()" class="btn btn-success" type="button">
                                             Add more
                                            </button>
                                        </td>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Video Tour</b>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <label for="video-tour-url">Video URL</label>
                            <input class="form-control" id="video-tour-url"  type="text" v-model="newProperty.videoTourURL.url">
                        </div>
                    </div>
                </div>


                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Address Details</b>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contact-name">Name<sup  style="color: red;">*</sup></label>
                                <input class="form-control" required type="text" v-model="newAddress.contactName">
                            </div>
                            <div class="form-group">
                                <label for="street-line-1">Line 1<sup  style="color: red;">*</sup></label>
                                <input class="form-control" required type="text" v-model="newAddress.streetLine1">
                            </div>
                            <div class="form-group">
                                <label for="street-line-2">Line 2</label>
                                <input class="form-control" required type="text" v-model="newAddress.streetLine2">
                            </div>
                            <div class="form-group">
                                <label for="locality">Locality</label>
                                <input class="form-control" id="locality" type="text" v-model="newAddress.locality">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input class="form-control" required type="text" v-model="newAddress.city">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input class="form-control" required type="text" v-model="newAddress.state">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <input class="form-control" required type="text" v-model="newAddress.country">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="zip">Zip</label>
                                        <input class="form-control" onKeyPress="if(this.value.length===6) return false;" required type="number" v-model="newAddress.zip">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Google Map</b>
                        </div>
                        <div class="card-body">
                            <div id="map" style="width: 100%; height: 400px; "></div>
                            Your Current Location:&nbsp;<input id="address" type="text" style="width:600px;"/><br/>
                            Your Current Latitude:&nbsp;<input type="text" id="latitude" />
                            Your Current Longitude:&nbsp;<input type="text" id="longitude" />
                        </div>
                    </div>

                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Charge Details</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="rental-charge">Rental charge</label>
                                        <input class="form-control" onKeyPress="if(this.value.length===12) return false;" type="number" required v-model="newProperty.rentCharge">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="monthly-maintenance">Monthly Maintenance</label>
                                        <input class="form-control" onKeyPress="if(this.value.length===12) return false;" type="number" required v-model="newProperty.monthlyMaintenance">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="security-deposits">Security Deposits</label>
                                        <input class="form-control" onKeyPress="if(this.value.length===12) return false;" v-model="newProperty.securityDeposits" type="number" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="mt-15" v-if="otherId!==-1"><b>Other Charges</b></p>
                                    <div class="row" id="other-charge-heading" v-if="otherId!==-1">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="charge-description">Charges Description</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="charge-amount">Charges Amount</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="other-charge-parent">

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <a href="#" class="mt-15 mb-20 d-block" v-on:click="addOtherCharge">Add Other Charges</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>More Details</b>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="flooring-details">Flooring Details</label>
                                <textarea class="form-control" v-model="newProperty.floorDetails" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ceiling-details">Ceiling Details</label>
                                <textarea class="form-control" v-model="newProperty.ceilingDetails" required></textarea>
                            </div>
                            <p class="mt-15"><b>Washroom Details</b></p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="urinal">Urinal</label>
                                                <input class="form-control" type="number" onKeyPress="if(this.value.length===2) return false;" v-model="newProperty.urinal" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wc">WC</label>
                                                <input class="form-control" type="number" onKeyPress="if(this.value.length===2) return false;" v-model="newProperty.wC" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="landmark">Landmark</label>
                                    <div class="row" id="add-landmark">
                                        <div class="col-md-6">
                                            <input type="text" maxlength="200" class="form-control mt-15" v-model="newProperty.landmark" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-15">
                                <div class="col-md-12">
                                    <label for="overlooking">Overlooking</label>
                                    <div class="row" v-id="!processing">
                                        <div class="col-md-6">
                                            <select name="overlooking" id="select-overlooking" class="form-control"  multiple="multiple">
                                                <!--
                                                <option v-for="over in overlookingOptions" :value="over.id" >{% verbatim %}{{ over.name }}{% endverbatim %}</option>
                                                -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="nearest-building"><b>Nearest Buildings</b></label>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="select-title">Nearest Title</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="nearest-distance">Description</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="nearest-building">

                                    </div>
                                    <a href="#" class="mt-15 d-block" v-on:click="addNearest">Add New Nearest Buildings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 scroll-col">
                    <div class="card card-default">
                        <div class="card-header">
                            <b>Property Features</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" v-model="newProperty.pantry" class="mr-10" required/>
                                                <label for="pantry">Pantry</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.washroom" required/>
                                                <label for="washroom">Washroom</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.powerBackup" required/>
                                                <label for="power-backup">Power Backup</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.liftAvailability" required/>
                                                <label for="lift-available">Lift Availability</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.airConditioner" required/>
                                                <label for="air-conditioner">Air Conditioner</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.cctv" required/>
                                                <label for="cctv">CCTV</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.cafeteria" required/>
                                                <label for="cafeteria">Cafeteria</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.fireSprinklers" required/>
                                                <label for="fire-sprinklers">Fire Sprinklers</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.earthing" required/>
                                                <label for="earthing">Earthing</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.electricalConnection" required/>
                                                <label for="electrical-connection">Electrical Connection</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.commonReception" required/>
                                                <label for="common_reception">Common Reception</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.security" required/>
                                                <label for="security">Security</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" v-model="newProperty.visitorParking" required/>
                                                <label for="visitor_parking">Visitor Parking</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>More Features</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="furnishing-status" class="mr-10 mt-15">Furnishing Status</label>
                                    <select name="furnishing-status" class="form-control" v-model="newProperty.furnishingStatus">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="semi">Semi Furnished</option>
                                        <option value="bare">Bareshell</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="parking" class="mr-10">Parking</label>
                                    <select name="parking" class="form-control" v-model="newProperty.parking">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="cover">Covered</option>
                                        <option value="expose">Exposed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="facing" class="mr-10">Facing</label>
                                    <select name="facing" class="form-control" v-model="newProperty.facing">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="n">North</option>
                                        <option value="ne">North East</option>
                                        <option value="nw">North West</option>
                                        <option value="s">South</option>
                                        <option value="se">South East</option>
                                        <option value="sw">South West</option>
                                        <option value="e">East</option>
                                        <option value="w">West</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="flooring" class="mr-10">Flooring</label>
                                    <select name="flooring" v-model="newProperty.flooring" class="form-control">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="tile">Tiles</option>
                                        <option value="wood">Wooden</option>
                                        <option value="carpet">Carpet</option>
                                        <option value="bare">Bare</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <label for="unit-of-area" class="mr-10">Unit of Area</label>
                                    <select name="unit-of-area" class="form-control mb-30" v-model="newProperty.unitOfArea">
                                        <option disabled selected>Choose Any Option</option>
                                        <option value="sqmt">Square Mt.</option>
                                        <option value="sqft">Square Ft.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Property Details</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="number-of-floors">Floor Number</label>
                                        <input type="number" onKeyPress="if(this.value.length===2) return false;" class="form-control mr-10" v-model="newProperty.noOfFloors" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="total-number-of-floors">Total Numbers of Floors in Building</label>
                                        <input type="number" onKeyPress="if(this.value.length===2) return false;" class="form-control mr-10" v-model="newProperty.totalNoOfFloors" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="number-of-basements">Number of Basements</label>
                                        <input type="number" onKeyPress="if(this.value.length===2) return false;" class="form-control mr-10" v-model="newProperty.numberOfBasements" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="units-on-floors">Units on Floors</label>
                                        <input type="number" onKeyPress="if(this.value.length===7) return false;" class="form-control mr-10" v-model="newProperty.unitsOnFloors" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="parking-area">Available Parking Space</label>
                                        <input type="number" onKeyPress="if(this.value.length===7) return false;" class="form-control mr-10" v-model="newProperty.parkingArea" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="ceiling-height">Ceiling Height</label>
                                        <input type="number" onKeyPress="if(this.value.length===3) return false;" class="form-control mr-10" v-model="newProperty.ceilingHeight" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="beam-height">Beam Height</label>
                                        <input type="number" onKeyPress="if(this.value.length===2) return false;" class="form-control mr-10" v-model="newProperty.beamHeight" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="lease-term">Lease Term</label>
                                        <input type="number" onKeyPress="if(this.value.length===3) return false;" class="form-control mr-10" v-model="newProperty.leaseTerm" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="carpet-area">Carpet Area</label>
                                        <input type="number" onKeyPress="if(this.value.length===7) return false;" class="form-control mr-10" v-model="newProperty.carpetArea" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="builtup-area">Builtup Area</label>
                                        <input type="number" onKeyPress="if(this.value.length===7) return false;" class="form-control mr-10" v-model="newProperty.buildupArea" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Show on Homepage</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-top"><input type="checkbox" class="mr-10" id="property-top" v-model="newProperty.isTop" />Is Top Property?</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Floor Plan<sup  style="color: red;">*</sup></b>
                        </div>
                        <div class="card-body">
                            <div><button class="btn btn-primary" data-toggle="modal" data-target="#floor-plan-modal">Create/Edit Floor Plans</button></div>

                        </div>

                    </div>
                </div>
            </div>


            <button class="btn btn-success mt-20 mb-20" v-on:click="validateMandatoryFields" :disabled="clickedCreate">Create Property</button>
            <a href="/control/dash/properties/" class="btn btn-primary ml-20 mt-30 mb-30" data-dismiss="modal">View Property List</a>


        </div>
        <!-- modal for floor plan -->
        <div class="modal mt-100 fade" data-backdrop="false" id="floor-plan-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h4>Floor plate section<sup  style="color: red;">*</sup></h4>
                            <select class="form-control"  id="floor"  v-model="currentEditingFloor" >
                                <option value="-1" >No Plan Selected</option>
                                <option value="0" >Bareshell</option>
                                <option value="1" >Office Plan</option>
                                <option value="2" >Design Renders</option>
                                <option value="3" >Site Photos</option>
                            </select>
                            <div class="float-right"><a href="" data-dismiss="modal"><i class="fa fa-times"></i></a></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wc"><b>Floor Number</b></label>
                                <input class="form-control" type="number" v-model="floorPlanEdit.no_of_floor" ></input>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wc"><b>Floor Description<sup  style="color: red;">*</sup></b></label>
                                <textarea class="form-control" type="number" v-model="floorPlanEdit.description" ></textarea>
                            </div>
                        </div>
                        <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Images</b>
                    </div>

                    <div class="card-body">


                        <div class="form-group" data-toggle="tooltip" data-title="Add basic fields for your category. " data-placement="bottom">


                                <div class="float-right">
                                    <a href="javascript:;" @click="selectFloorPlanImage">Select Image</a>
                                </div>
                                <div class="row">
                                    <input type="file" name="images" multiple style="visibility: hidden" @change="uploadFloorPlanImage" id="select-floor-image-hidden">
                                    <span class="help-block"></span>
                                </div>
                                <div v-if="!floorPlanEdit.imageList.length">
                                    <span>No image selected! ☹️ Please upload images.</span>
                                </div>
                                <div class="row col-md-12 insert-preview-images-here">
                                    <div class="preview-image-template" v-if="floorPlanEdit.imageList" v-for="(image, index) in floorPlanEdit.imageList">
                                        <div class="col-md-5 pointer">
                                            <div class="pull-right" id="removed-image">
                                                <a href="#" class="product-delete_image" v-on:click="removeFloorPlanImage">x</a>
                                            </div>
                                            <div class="product-images--preview-image">
                                                <a href="#" class="open-image-edit-modal">
                                                    <i class="fa fa-pencil fa-lg"></i>
                                                </a>
                                            </div>
                                            <img :src="image['image'] || image.file" class="preview-image"  data-toggle="modal" width="70" height="85" v-on:click="imageSlider.currentIndex=index">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>

                        <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Videos</b>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <div id="banner-vid-parent">

                            </div>
                            <a href="#" class="mt-15 d-block" v-if="floorPlanEdit.videos.length === 0" v-on:click="addVideoUrlFieldsFloor()">Add New Video URL</a>
                            <a href="#" class="mt-15 d-block" v-else="floorPlanEdit.videos.length === 0"></a>
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="help-box variants-help color-grey" v-if="!floorPlanEdit.videos.length > 0">
                                        Add video url, youtube url etc.
                                    </div>
                                    <div v-if="floorPlanEdit.videos.length > 0">
                                        <table class="table table-responsive variants-table">
                                            <thead >
                                                <tr>
                                                    <th style="">Video url</th>
                                                    <th style="border: none;"></th>
                                                    <th style="border: none;"></th>
                                                </tr>
                                            </thead>
                                            <tr v-for="(key, index) in floorPlanEdit.videos">
                                                <td>
                                                    <input maxlength="250" size="80" class="form-control" v-model="key['url']" type="text">
                                                </td>
                                                <td>
                                                    <button @click="removeVideoUrlFieldsFloor(index)" type="button" class="btn btn-danger">
                                                      Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <td>
                                            <button @click="addVideoUrlFieldsFloor()" class="btn btn-success" type="button">
                                             Add more
                                            </button>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


                    <div class="modal-footer">
                        <button class="btn btn-xs btn-primary float-left" type="button"  v-on:click="addFloorPlan">Add Plan</button>
                        <button class="btn btn-xs btn-warning" type="button" @click="clearFloorPlanEdit">Clear</button>
                        <button class="btn btn-xs btn-secondary btn-danger" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
     <!-- end modal-->
    </div>

    <script src="{% static 'theme/js/property-create.js' %}"></script>
    <script src="{% static 'theme/js/shortcuts.js' %}" async></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh0aXPGPniL1FXYAc4HNKDxXYcjOqMHeU">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script>
    let map;
            let marker;
            let myLatlng = new google.maps.LatLng(28.608700,77.014090);
            let geocoder = new google.maps.Geocoder();
            let infowindow = new google.maps.InfoWindow();
            function initialize(){
            let mapOptions = {
            zoom: 18,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            marker = new google.maps.Marker({
            map: map,
            position: myLatlng,
            draggable: true
            });

            geocoder.geocode({'latLng': myLatlng }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
            if (results[0]) {
            $('#latitude,#longitude').show();
            $('#address').val(results[0].formatted_address);
            $('#latitude').val(marker.getPosition().lat());
            $('#longitude').val(marker.getPosition().lng());
            infowindow.setContent(results[0].formatted_address);
            infowindow.open(map, marker);
            }
            }
            });

            google.maps.event.addListener(marker, 'dragend', function() {

            geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
            if (results[0]) {
            $('#address').val(results[0].formatted_address);
            $('#latitude').val(marker.getPosition().lat());
            $('#longitude').val(marker.getPosition().lng());
            infowindow.setContent(results[0].formatted_address);
            infowindow.open(map, marker);
            }
            }
            });
            });

            }
            google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}