{% extends 'dashboard/base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
{% endblock %}

{% block content %}
    <div id="product-details-app">
        <div class="container-fluid pt-10" style="background-color:#DFE4E7;" v-if="!processing">
            <div class="row" style="margin-top: 100px"></div>
            <div class="row">
                <div class="col-md-8 scroll-col">
                    <div class="card card-default">
                        <div class="card-header">
                            <b>Basic Details</b>
                        </div>
                        <div class="card-body" v-if="property">
                            <div class="form-group">
                                <label for="property-name">Property Name<sup  style="color: red;">*</sup></label>
                                <input class="form-control" id="property-name" size="250" required type="text" v-model="property.property_name" required="required">
                            </div>
                            <div class="form-group">
                                <label for="property-description">Property Description</label>
                                <textarea class="form-control" name="update" id="property-description" required v-model="property.description"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-property_id">Property ID<sup  style="color: red;">*</sup></label>
                                        <input class="form-control" size="20" id="property-property_id" required type="text" v-model="property.property_id" disabled required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-age">Property Age</label>
                                        <input class="form-control" size="3" id="property-age" required type="number" v-model="property.age">( in years )
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-country_code">Country<sup  style="color: red;">*</sup></label>
                                        <select class="form-control form-select select-country_code" id="property-country_code"  v-model="countryCode" name="property_country_code" required>
                                            <option v-for="(value,key,index) in countryCodes" id="value.id">{% verbatim %}{{ value.name }}{% endverbatim %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-contact">Contact Number<sup  style="color: red;">*</sup></label>
                                        <input class="form-control" size="10" id="property-contact" required type="number" v-model="property.contact" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Images</b>
                    </div>

                    <div class="card-body" v-if="property">

                        <div class="float-right">
                            <a href="javascript:;" v-on:click="selectPropertyImage"><h5>Select Banner Images</h5></a>
                        </div>


                        <div class="row">
                            <input type="file" name="images" multiple style="visibility: hidden" @change="uploadPropertyImage" id="select-image-hidden">
                            <span class="help-block"></span>
                        </div>
                        <div v-if="!property.images.length">
                                <span>No image selected! ☹️ Please upload images.</span>
                        </div>
                        <div class="row col-md-6 insert-preview-images-here">
                            <div class="preview-image-template" v-if="property.images" v-for="(image, index) in propertyImages.imageList">
                                <div class="col-md-5 pointer">
                                    <div class="pull-right" id="removed-image">
                                        <a href="#" class="product-delete_image" v-on:click="removeImage(index)">x</a>
                                    </div>
                                    <div class="product-images--preview-image">
                                        <a href="#" class="open-image-edit-modal">
                                            <i class="fa fa-pencil fa-lg"></i>
                                        </a>
                                    </div>

                                    <img :src="image.file" class="preview-image"  width="125" height="130" v-on:click="imageSlider.currentIndex=index">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default mt-30">

                    <div class="card-header">
                        <b>Videos</b>
                    </div>

                    <div class="card-body" v-if="property">

                        <div class="form-group">
                            <div id="banner-vid-parent">

                            </div>
                            <a href="#" class="mt-15 d-block" v-if="property.videos.length === 0" v-on:click="addVideoUrlFields()">Add New Video URL</a>
                            <a href="#" class="mt-15 d-block" v-else="property.videos.length === 0"></a>
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="help-box variants-help color-grey" v-if="property.videos.length === 0">
                                        Add video url, youtube url etc.
                                    </div>
                                    <div v-if="property.videos.length > 0">
                                        <table class="table table-responsive variants-table">
                                            <thead >
                                                <tr>
                                                    <th style="">Video url</th>
                                                    <th style="border: none;"></th>
                                                    <th style="border: none;"></th>
                                                </tr>
                                            </thead>
                                            <tr v-for="(key, index) in property.videos">
                                                <td>
                                                    <input maxlength="250" size="80" class="form-control" v-model="key.url" type="text">
                                                </td>
                                                <td>
                                                    <select class="form-control"  id="video-type"  v-model="key.type" >
                                                        <option value="t" >Video Tour</option>
                                                        <option value="b" >Banner</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button @click="removeVideoUrlFields(index)" type="button" class="btn btn-danger">
                                                      Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <td>
                                            <button @click="addVideoUrlFields()" class="btn btn-success" type="button">
                                             Add more
                                            </button>
                                        </td>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Address Details</b>
                        </div>

                    <div class="card-body" v-if="property">
                        <div class="form-group">
                            <label for="address-name">Name<sup  style="color: red;">*</sup></label>
                            <input class="form-control" id="address-name" required type="text" v-model="property.address.name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="address-line1">Line 1<sup  style="color: red;">*</sup></label>
                            <input class="form-control" id="address-line1" required type="text" v-model="property.address.line_1" required="required">
                        </div>
                        <div class="form-group">
                            <label for="address-line2">Line 2</label>
                            <input class="form-control" id="address-line2" required type="text" v-model="property.address.line_2">
                        </div>
                        <div class="form-group">
                            <label for="address-line2">Locality</label>
                            <input class="form-control" id="address-line2" required type="text" v-model="property.address.locality">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address-city">City</label>
                                    <input class="form-control" id="address-city" required type="text" v-model="property.address.city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address-state">State</label>
                                    <input class="form-control" id="address-state" required type="text" v-model="property.address.state">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address-country">Country</label>
                                    <input class="form-control" id="address-country" required type="text" v-model="property.address.country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address-zip">Zip</label>
                                    <input class="form-control" id="address-zip" required type="number" v-model="property.address.zip">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" @click="updateAddress" data-dismiss="modal">Update Address</button>
                    </div>
                    </div>


                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Google Map</b>
                        </div>
                        <div class="card-body" v-if="property">
{#                            <div id="map" style="width: 100%; height: 400px; "></div>#}
                            <div class="card-body" v-if="property">
                                Your Saved Location:&nbsp;<input  type="text" style="width:600px;" v-model="property.map_address"/><br/>
                                Your Saved Latitude:&nbsp;<input type="text"  v-model="property.latitude" />
                                Your Saved Longitude:&nbsp;<input type="text" v-model="property.longitude" />
                            </div>
{#                            <div class="card-body">#}
{#                                Your New Location:&nbsp;<input id="address" type="text" style="width:600px;" /><br/>#}
{#                                Your New Latitude:&nbsp;<input type="text" id="latitude"  />#}
{#                                Your New Longitude:&nbsp;<input type="text" id="longitude"  />#}
{#                            </div>#}
                        </div>
                    </div>

                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Charge Details</b>
                        </div>
                        <div class="card-body" v-if="property">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="property-rental-charge">Rental charge</label>
                                        (&#8377;)<input class="form-control" id="property-rental-charge" type="number" v-model="property.rental_value" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="property-monthly-maintenance">Monthly Maintenance</label>
                                        (&#8377;)<input class="form-control" id="property-monthly-maintenance" type="number" v-model="property.monthly_maintenance" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="property-security-deposit">Security Deposit</label>
                                        (&#8377;)<input class="form-control" id="property-security-deposit" type="number" v-model="property.security_deposit" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="mt-15" v-if="otherId!==-1"><b>Other Charges</b></p>
                                    <div class="row" id="other-charge-heading" v-if="otherId!==-1">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="new-email">Charges Description</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="new-email">Charges Amount (&#8377;)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="other-charge-parent">
<!--
                                        <div class="col-md-8"  v-for="(value,key,index) in property.other_charges" >
                                            <div class="form-group" >
                                                <input  class="form-control" type="text" v-model="key"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4"  v-for="value in property.other_charges">
                                            <div class="form-group">
                                                <input  class="form-control"  type="number" v-model="parseInt(value)"/>
                                            </div>
                                        </div>

-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <a href="#" class="mt-15 mb-20 d-block" v-on:click="addOtherCharge">Add Other Charges</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>More Details</b>
                        </div>
                        <div class="card-body" v-if="property">
                            <div class="form-group">
                                <label for="flooring-details">Flooring Details</label>
                                <textarea class="form-control" id="flooring-details" v-model="property.flooring_details"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ceiling-details">Ceiling Details</label>
                                <textarea class="form-control" id="ceiling-details" v-model="property.ceiling_details"></textarea>
                            </div>
                            <label>Washroom Details</label>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label for="urinals">Urinal</label>
                                        <input type="number" class="form-control" id="urinals" v-model="property.washroom_details.Urinals" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="wc" >WC</label>
                                        <input type="number" class="form-control" id="wc" v-model="property.washroom_details.WC" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="property-landmark">Landmark</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="property-landmark" v-model="property.landmark" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="property-overlooking">Overlooking</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="overlooking" class="form-control form-select" id="select-overlooking" multiple="multiple">
                                                <option v-for="option in jsonData.results" :value="option.id" :selected="option.selected">{% verbatim %} {{ option.name }}{% endverbatim %}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><br>
                                    <label for="nearest-building"><b>Nearest Buildings</b></label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="select-title">Nearest Title</label>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="select-title">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="select-title">Distance</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="nearest-building" v-for="nrst in property.nearest">
                                        <div class="col-md-4">
                                            <select name="parking" v-model="nrst.title" class="form-control mb-20" id="nearestList-title-'+that.nearestId+'" required>
                                                <option disabled selected>Choose Any Option</option>
                                                <option value="bus">Bus Stop</option>
                                                <option value="school">School</option>
                                                <option value="mall">Shopping Mall</option>
                                                <option value="hospital">Hospital</option>
                                                <option value="bank">Bank</option>
                                                <option value="atm">ATM</option>
                                                <option value="restaurant">Restaurant</option>
                                                <option value="metro">Metro Station</option>
                                                <option value="train">Train Station</option>
                                                <option value="pharmacy">Pharmacy</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" v-model="nrst.nearest_description" placeholder="Name" id="nearestList-description-'+that.nearestId+'" class="form-control mb-20" required/>
                                        </div>
                                        <div class="col-md-3">
                                           <input type="number" v-model="nrst.distance" placeholder="Distance" oninput="validate_input(this)" id="nearestList-distance-'+that.nearestId+'" class="form-control mb-20" required/>
                                        </div>
                                    </div>
                                    <a href="#" class="mt-15 d-block" v-on:click="addNearest">Add New Nearest Buildings</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 scroll-col">
                    <div class="card card-default">
                        <div class="card-header">
                            <b>Property Features</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-pantry" v-model="property.pantry" />
                                                <label for="new-email">Pantry</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-washroom" v-model="property.washroom" />
                                                <label for="new-email">Washroom</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-power_backup" v-model="property.power_backup" />
                                                <label for="new-email">Power Backup</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-lift_availability" v-model="property.lift_availability"/>
                                                <label for="new-email">Lift Availability</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-a_c" v-model="property.a_c"/>
                                                <label for="new-email">Air Conditioner</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-cctv" v-model="property.cctv"/>
                                                <label for="new-email">CCTV</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10"  id="property-cafeteria" v-model="property.cafeteria"/>
                                                <label for="new-email">Cafeteria</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-fire_sprinlers" v-model="property.fire_sprinklers"/>
                                                <label for="new-email">Fire Sprinklers</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-earthing" v-model="property.earthing"/>
                                                <label for="new-email">Earthing</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="checkbox" class="mr-10" id="property-electrical_con" v-model="property.electrical_con"/>
                                                <label for="new-email">Electrical Connection</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>More Features</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <label for="new-email" class="mr-10">Furnishing Status</label>
                                    <select  class="form-control" id="property-furnishing_status" v-model="property.furnishing_status"  v-if="!processing">
                                        <option value="">Choose Any Option</option>
                                        <option value="semi">Semi Furnished</option>
                                        <option value="bare">Bareshell</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <label for="new-email" class="mr-10">Parking</label>
                                    <select name="project-status" class="form-control" id="property-parking" v-model="property.parking"  v-if="!processing">
                                        <option disabled  value="">Choose Any Option</option>
                                        <option value="cover">Covered</option>
                                        <option value="expose">Exposed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <label for="new-email" class="mr-10">Facing</label>
                                    <select name="project-status" class="form-control" id="property-facing" v-model="property.facing"  v-if="!processing">
                                        <option disabled  value="">Choose Any Option</option>
                                        <option value="n">North</option>
                                        <option value="ne">North East</option>
                                        <option value="nw">North West</option>
                                        <option value="s">South</option>
                                        <option value="se">South East</option>
                                        <option value="sw">South West</option>
                                        <option value="e">East</option>
                                        <option value="w">West</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <label for="new-email" class="mr-10">Flooring</label>
                                    <select name="project-status" id="property-flooring" class="form-control" v-model="property.flooring"  v-if="!processing">
                                        <option disabled  value="">Choose Any Option</option>
                                        <option value="tile">Tiles</option>
                                        <option value="wood">Wooden</option>
                                        <option value="carpet">Carpet</option>
                                        <option value="bare">Bare</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <label for="new-email" class="mr-10">Unit of Area</label>
                                    <select name="project-status" class="form-control" id="property-unit-of-area" v-model="property.unit_of_area"  v-if="!processing">
                                        <option disabled  value="">Choose Any Option</option>
                                        <option value="sqmt">Square Mt.</option>
                                        <option value="sqft">Square Ft.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Property Details</b>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body" v-if="property">
                                    <div class="form-group">
                                        <label for="property-no_of_floors">Floor Number</label>
                                        <input type="number" class="form-control mr-10" id="property-no_of_floors" v-model="property.floor_num"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-total_no_of_floors">Total Numbers of Floors in Building</label>
                                        <input type="number" class="form-control mr-10" id="property-total_no_of_floors" v-model="property.total_number_of_floors"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-no_of_basements">Number of Basements</label>
                                        <input type="number" class="form-control mr-10" id="property-no_of_basements" v-model="property.number_of_basements"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-units_on_floor">Units on Floors</label>
                                        <input type="number" class="form-control mr-10" id="property-units_on_floor" v-model="property.units_on_floor"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-parking-area">Available Parking Space</label>
                                        <input type="number" class="form-control mr-10" id="property-parking-area" v-model="property.parking_area"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-ceiling-height">Ceiling Height</label>
                                        <input type="number" class="form-control mr-10" id="property-ceiling-height" v-model="property.ceiling_height"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-beam-height">Beam Height</label>
                                        <input type="number" class="form-control mr-10" id="property-beam-height" v-model="property.beam_height"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-lease-term">Lease Term</label>
                                        <input type="number" class="form-control mr-10" id="property-lease-term" v-model="property.lease_term"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-carpet-area">Carpet Area</label>
                                        <input type="number" class="form-control mr-10" id="property-carpet-area" v-model="property.carpet_area"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-buildupArea">Builtup Area</label>
                                        <input type="number" class="form-control mr-10" id="property-buildupArea" v-model="property.buildup_area" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Show on Homepage</b>
                        </div>
                        <div class="card-body" v-if="property">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="property-top"><input type="checkbox" class="mr-10" id="property-top" v-model="property.is_top" />Is Top Property?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Floor Plan</b>
                        </div>
                        <div class="card-body" v-if="property">
                            <div>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#floor-plan-modal">Edit Floor Plans</button>
                                ( <span v-for="(plan, index) in property.floor_plan" v-if="floorDetails[plan.floor_number]"><a href="#" data-toggle="modal" data-target="#floor-plan-modal" style="text-decoration: none;">{% verbatim %}{{ floorDetails[plan.floor_number] }} {% endverbatim %}</a><span v-if="index+1 < property.floor_plan.length">,</span></span>
                                <span v-else>No Plan Selected</span>)
                            </div>

                        </div>

                    </div>
                    <div class="card card-default mt-30">
                        <div class="card-header">
                            <b>Delete Property</b>
                        </div>
                        <div class="card-body" v-if="property">
                            <button type="button" class="btn btn-danger btn-primary" @click="deleteProperty">Delete Property</button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row" style="margin-top: 30px"></div>
            <button type="button" class="btn btn-success" @click="updateProperty" data-dismiss="modal">Update Property</button>
            <button type="button" class="btn btn-secondary ml-20" data-dismiss="modal"><a href="../properties">View Property List</a></button>
            <div class="row" style="margin-top: 40px"></div>



        </div>
    <!-- modal for floor plan -->
        <div class="modal mt-100 fade" data-backdrop="false" id="floor-plan-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h4>Floor plate section</h4>
                            <select class="form-control"  id="floor"  v-model="currentEditingFloor" >
                                <option value="-1" >No Plan Selected</option>
                                <option value="0" >Bareshell</option>
                                <option value="1" >Office Plan</option>
                                <option value="2" >Design Renders</option>
                                <option value="3" >Site Photos</option>
                            </select>
                            <div class="float-right"><a href="" data-dismiss="modal"><i class="fa fa-times"></i></a></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wc"><b>Floor Number</b></label>
                                <input class="form-control" type="number" v-model="floorPlanEdit.floor_number" ></input>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wc"><b>Floor Description</b></label>
                                <textarea class="form-control" type="number" v-model="floorPlanEdit.description" ></textarea>
                            </div>
                        </div>

                        <div class="card card-default mt-30">

                            <div class="card-header">
                                <b>Images</b>
                            </div>

                            <div class="card-body" v-if="property">


                                <div class="form-group" data-toggle="tooltip" data-title="Add images to floors." data-placement="bottom">


                                    <div class="float-right">
                                        <a href="javascript:;" @click="selectFloorPlanImage">Select Image</a>
                                    </div>
                                    <div class="row">
                                        <input type="file" name="images" multiple style="visibility: hidden" @change="uploadFloorPlanImage" id="select-floor-image-hidden">
                                        <span class="help-block"></span>
                                    </div>
                                    <div v-if="!floorPlanEdit.images.length">
                                        <span>No image selected! ☹️ Please upload images.</span>
                                    </div>
                                    <div class="row col-md-12 insert-preview-images-here">
                                        <div class="preview-image-template" v-if="floorPlanEdit.images" v-for="(image, index) in floorPlanEdit.images">
                                            <div class="col-md-5 pointer">
                                                <div class="pull-right" id="removed-image">
                                                    <a href="#" class="product-delete_image" v-on:click="removeFloorPlanImage">x</a>
                                                </div>
                                                <div class="product-images--preview-image">
                                                    <a href="#" class="open-image-edit-modal">
                                                        <i class="fa fa-pencil fa-lg"></i>
                                                    </a>
                                                </div>
                                                <img :src="image['image'] || image.file" class="preview-image"  data-toggle="modal" width="70" height="85" v-on:click="imageSlider.currentIndex=index">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-default mt-30">

                            <div class="card-header">
                                <b>Videos</b>
                            </div>

                            <div class="card-body" v-if="property.floor_plan">

                                <div class="form-group">
                                    <div id="banner-vid-parent">

                                    </div>
                                <a href="#" class="mt-15 d-block" v-if="floorPlanEdit.videos.length === 0" v-on:click="addVideoUrlFieldsFloor()">Add New Video URL</a>
                                <a href="#" class="mt-15 d-block" v-else="floorPlanEdit.videos.length === 0"></a>
                                <div class="row mt-20">
                                    <div class="col-md-12">
                                        <div class="help-box variants-help color-grey" v-if="!floorPlanEdit.videos.length > 0">
                                            Add video url, youtube url etc.
                                        </div>
                                        <div v-if="floorPlanEdit.videos.length > 0">
                                            <table class="table table-responsive variants-table">
                                                <thead >
                                                    <tr>
                                                        <th style="">Video url</th>
                                                        <th style="border: none;"></th>
                                                        <th style="border: none;"></th>
                                                    </tr>
                                                </thead>
                                                <tr v-for="(key, index) in floorPlanEdit.videos">
                                                    <td>
                                                        <input maxlength="250" size="80" class="form-control" v-model="key.url" type="text">
                                                    </td>
                                                    <td>
                                                        <button @click="removeVideoUrlFieldsFloor(index)" type="button" class="btn btn-danger">
                                                          Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <td>
                                                <button @click="addVideoUrlFieldsFloor()" class="btn btn-success" type="button">
                                                 Add more
                                                </button>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>


                    </div>


                    <div class="modal-footer">
                        <button class="btn btn-xs btn-primary float-left" type="button" v-if="existing" v-on:click="updateFloorPlan">Update Floor</button>
                        <button class="btn btn-xs btn-primary float-left" type="button" v-if="existing" v-on:click="unlinkFloorPlan">Remove Floor</button>
                        <button class="btn btn-xs btn-primary float-left" type="button" v-if="!existing" v-on:click="addNewFLoorPlan">Add Plan</button>
                        <button class="btn btn-xs btn-warning" type="button" @click="clearFloorPlan">Clear</button>
                        <button class="btn btn-xs btn-secondary btn-danger" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
     <!-- end modal-->

    </div>
{% endblock %}
{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

    <script src="{% static 'theme/js/property-details.js' %}"></script>
    <script src="{% static 'theme/js/shortcuts.js' %}"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh0aXPGPniL1FXYAc4HNKDxXYcjOqMHeU">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
{#    <script>#}
{#    let map;#}
{#            let marker;#}
{#            let myLatlng = new google.maps.LatLng(28.608700,77.014090);#}
{#            let geocoder = new google.maps.Geocoder();#}
{#            let infowindow = new google.maps.InfoWindow();#}
{#            function initialize(){#}
{#            let mapOptions = {#}
{#            zoom: 18,#}
{#            center: myLatlng,#}
{#            mapTypeId: google.maps.MapTypeId.ROADMAP#}
{#            };#}
{##}
{#            map = new google.maps.Map(document.getElementById("map"), mapOptions);#}
{##}
{#            marker = new google.maps.Marker({#}
{#            map: map,#}
{#            position: myLatlng,#}
{#            draggable: true#}
{#            });#}
{##}
{#            geocoder.geocode({'latLng': myLatlng }, function(results, status) {#}
{#            if (status === google.maps.GeocoderStatus.OK) {#}
{#            if (results[0]) {#}
{#            $('#latitude,#longitude').show();#}
{#            $('#address').val(results[0].formatted_address);#}
{#            $('#latitude').val(marker.getPosition().lat());#}
{#            $('#longitude').val(marker.getPosition().lng());#}
{#            infowindow.setContent(results[0].formatted_address);#}
{#            infowindow.open(map, marker);#}
{#            }#}
{#            }#}
{#            });#}
{##}
{#            google.maps.event.addListener(marker, 'dragend', function() {#}
{##}
{#            geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {#}
{#            if (status === google.maps.GeocoderStatus.OK) {#}
{#            if (results[0]) {#}
{#            $('#address').val(results[0].formatted_address);#}
{#            $('#latitude').val(marker.getPosition().lat());#}
{#            $('#longitude').val(marker.getPosition().lng());#}
{#            infowindow.setContent(results[0].formatted_address);#}
{#            infowindow.open(map, marker);#}
{#            }#}
{#            }#}
{#            });#}
{#            });#}
{##}
{#            }#}
{#            google.maps.event.addDomListener(window, 'load', initialize);#}
{#    </script>#}
{% endblock %}