{% load static from staticfiles %}
<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <title>Flipoffice - Reimagining Real Estate</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description"  content="Real Estate"/>
        <meta name="keywords" content="Real Estate, Property template, Real Estate template, rent, sale, buy" />
        <meta name="author"  content=""/>
        <meta name="MobileOptimized" content="320" />
        <!--srart theme style -->
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/font-awesome.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/fonts.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/owl.carousel.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/owl.theme.default.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/jquery-ui.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/swiper.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/style.css' %}"/>
        <link href="{% static 'website-theme/css/website-css/main.css' %}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <!-- favicon links -->
        <link rel="shortcut icon" type="image/png" href="{% static 'website-theme/images/header/favicon.png' %}" />

    </head>
    <body>
        {% block homeBanner %}

        {% endblock %}
        {% block content %}

        {% endblock %}

        <!-- Footer Wrapper start -->
        <div class="rle_footer_wrapper rle_toppadder40">
            <div class="container">
                <div class="row">
                    <div class="rle_top_footer">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="widget text-widget" style="text-align: center">
                                <img src="{% static 'website-theme/images/icon/logo_white.png' %}" height="80px" alt="Footer Logo" />
                                <p class="rle_footertext">FLIPOFFICE is India's first technology and process Enabled Office Expansion Management Venture.</p>
{#                                <a href="#" class="rle_btn">Get offer today</a>#}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="widget text-widget">
                                <h4 class="widget-title">Company</h4>
                                <ul>
                                    <li><a href="/property-listing/">Browse Properties</a></li>
{#                                    <li><a href="#">Landlords</a></li>#}
{#                                    <li><a href="#">Renters</a></li>#}
{#                                    <li><a href="#">Services</a></li>#}
{#                                    <li><a href="#">Pricing</a></li>#}
{#                                    <li><a href="/contact/">Become Our Partner</a></li>#}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="widget text-widget">
                                <h4 class="widget-title">Support</h4>
                                <ul>
{#                                    <li><a href="#">Help & FAQ</a></li>#}
                                    <li><a href="/contact/">Become Our Partner</a></li>
{#                                    <li><a href="#">Privacy Policy</a></li>#}
{#                                    <li><a href="#">Careers</a></li>#}
{#                                    <li><a href="#">Our Partners</a></li>#}
{#                                    <li><a href="#">Term & Services</a></li>#}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="widget text-widget">
                                <h4 class="widget-title">Reach out</h4>
                                <ul>
                                    <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai office address - Flipspaces, Eureka Towers,</br> B Wing, 8th Floor, Rajan Pada, Mindspace, Malad West,</br> &nbsp; &nbsp; &nbsp; &nbsp;Mumbai, Maharashtra 400064</p></li>
                                    <li><p><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <a href="#">flipoffice@flipspacesvr.com</a></p></li>
                                    <li><p><i class="fa fa-phone" aria-hidden="true"></i> 9029049471/2</p></li>
                                </ul>
{#                                <ul class="rle_social_iicon">#}
{#                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl1.png' %}" alt="" title=""></a></li>#}
{#                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl2.png' %}" alt="" title=""></a></li>#}
{#                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl3.png' %}" alt="" title=""></a></li>#}
{#                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl4.png' %}" alt="" title=""></a></li>#}
{#                                </ul>#}
                            </div>
                        </div>
                    </div>
                    <div class="rle_bottom_footer">
                        <p>Copyright © 2017 <a href="#">Flip Office</a>. Made with love by <a href="https://www.bigdrop.io/">Big Drop</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--main js file start-->
        <script type="text/javascript" src="{% static 'website-theme/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/bootstrap.js' %}"></script>
        <script src="{% static 'theme/js/shortcuts.js' %}" async></script>
        <script type="text/javascript" src="{% static 'website-theme/js/Chart.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'website-theme/js/owl.carousel.js' %}"></script>
                <script type="text/javascript" src="{% static 'website-theme/js/swiper.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'website-theme/js/custom.js' %}"></script>

        <!--main js file end-->

        {% block page_level_scripts %}
        {% endblock %}


    </body>
</html>




