{% load static from staticfiles %}
<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <title>Real Estate Responsive HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description"  content="Real Estate"/>
        <meta name="keywords" content="Real Estate, Property template, Real Estate template, rent, sale, buy" />
        <meta name="author"  content=""/>
        <meta name="MobileOptimized" content="320" />
        <!--srart theme style -->
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/font-awesome.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/fonts.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/owl.carousel.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/owl.theme.default.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/jquery-ui.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/swiper.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'website-theme/css/style.css' %}"/>
        <!-- favicon links -->
        <link rel="shortcut icon" type="image/png" href="{% static 'website-theme/images/header/favicon.png' %}" />

    </head>
    <body>
        <div class="rle_banner_wrapper style_2">
            <div class="rle_header_wrapper style_2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="rle_logo">
                                <a href="#"><img src="{% static 'website-theme/images/icon/logo.png' %}" alt="Logo" title="Logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="rle_top_header">
                                    <ul>
                                        <li><img src="{% static 'website-theme/images/icon/h_icon1.png' %}"> Support now: (095) 3030 601</li>
                                        <li><img src="{% static 'website-theme/images/icon/h_icon2.png' %}"> <a href="#">Email : hello@realestate.com</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="rle_menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                            <div class="rle_main_menu_wrapper">
                                <div class="rle_main_menu">
                                    <ul>
                                        <li><a href="#">home</a>
                                            <ul class="sub-menu">
                                                <li><a href="{% static '/index.html' %}">home 1</a></li>
                                                <li><a href="{% static '/index2.html' %}">home 2</a></li>
                                                <li><a href="{% static '/index3.html' %}">home 3</a></li>
                                                <li><a href="{% static '/index4.html' %}">home 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% static '/about.html' %}">about us</a></li>
                                        <li><a href="#">property</a>
                                            <ul class="sub-menu">
                                                <li><a href="{% static '/property_gird_fullwidth.html' %}">gird fullwidth</a></li>
                                                <li><a href="{% static '/property_gird_sidebar.html' %}">gird sidebar</a></li>
                                                <li><a href="{% static '/property_list_fullwidth.html' %}">list fullwidth</a></li>
                                                <li><a href="{% static '/property_list_sidebar.html' %}">list sidebar</a></li>
                                                <li><a href="{% static '/property_map.html' %}">property map</a></li>
                                                <li><a href="{% static '/property_single_v1.html' %}">single v1</a></li>
                                                <li><a href="{% static '/property_single_v2.html' %}">single v2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">agents</a>
                                            <ul class="sub-menu">
                                                <li><a href="{% static '/agent.html' %}">agent</a></li>
                                                <li><a href="{% static '/agent_single.html' %}">agent single</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="{% static '/blog.html' %}">blog</a></li>
                                                <li><a href="{% static '/blog_grid_v1.html' %}">grid v1</a></li>
                                                <li><a href="{% static '/blog_grid_v2.html' %}">grid v2</a></li>
                                                <li><a href="{% static '/blog_single.html' %}">blog single</a></li>
                                                <li><a href="{% static '/gallery.html' %}">gallery</a></li>
                                                <li><a href="{% static '/404_pages.html' %}">404 error</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% static '/contact.html' %}">contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rle_signin">
                                <a href="#" class="rle_btn" id="login_button">sign in</a>
                                <div id="login_one" class="rle_login_form">
                                    <p>Don’t have an account? <a href="#">Sign up</a></p>
                                    <form class="form">
                                        <input type="text" placeholder="Username">
                                        <input type="password" placeholder="Password">
                                        <div class="rle_checkbox">
                                            <input type="checkbox" id="remember_me" checked />
                                            <label for="remember_me">Remember me</label>
                                        </div>
                                        <a href="#" class="forgot_pswd">forgot password?</a>
                                        <button type="submit" class="rle_btn">sign in</button>
                                        <span>or</span>
                                        <a href="#" class="share_btn fcbk_clr_1"><i class="fa fa-facebook" aria-hidden="true"></i>login with facebook</a>
                                        <a href="#" class="share_btn ggl_clr_2"><i class="fa fa-google-plus" aria-hidden="true"></i>login with google plus</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}

        {% endblock %}

        <!-- Footer Wrapper start -->
        <div class="rle_footer_wrapper rle_toppadder100">
            <div class="container">
                <div class="row">
                    <div class="rle_top_footer">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="widget text-widget">
                                <img src="{% static 'website-theme/images/icon/logo.png' %}" alt="Footer Logo" />
                                <p class="rle_footertext">Alpha Housing.com is No 1 Property portal and has been adjudged as the most preferred by independent surveys the portal provides a platform for property.</p>
                                <a href="#" class="rle_btn">Get offer today</a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="widget text-widget">
                                <h4 class="widget-title">Company</h4>
                                <ul>
                                    <li><a href="#">Browse Properties</a></li>
                                    <li><a href="#">Landlords</a></li>
                                    <li><a href="#">Renters</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="widget text-widget">
                                <h4 class="widget-title">Support</h4>
                                <ul>
                                    <li><a href="#">Help & FAQ</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Our Partners</a></li>
                                    <li><a href="#">Term & Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="widget text-widget">
                                <h4 class="widget-title">Reach out</h4>
                                <ul>
                                    <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> Cecilia Chapman, 711-2880 Nulla St.</br> Mankato Mississippi 96522</p></li>
                                    <li><p><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <a href="#">Hello@alphahousing.com</a></p></li>
                                    <li><p><i class="fa fa-phone" aria-hidden="true"></i> 1 (773) 377-2804  |  1 (855) 781-7189</p></li>
                                </ul>
                                <ul class="rle_social_iicon">
                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl1.png' %}" alt="" title=""></a></li>
                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl2.png' %}" alt="" title=""></a></li>
                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl3.png' %}" alt="" title=""></a></li>
                                    <li><a href="#"><img src="{% static 'website-theme/images/icon/ftr_scl4.png' %}" alt="" title=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rle_bottom_footer">
                        <p>Copyright © 2017 <a href="#">Alpha Housing</a>. Made with love by <span>ThinhTran</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--main js file start-->
        <script type="text/javascript" src="{% static 'website-theme/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/Chart.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/swiper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'website-theme/js/custom.js' %}"></script>
        <!--main js file end-->

        {% block page_level_scripts %}
        {% endblock %}

    </body>
</html>




