{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}

{% block homeBanner %}
    <div id="website-home-app">
    <div class="rle_banner_wrapper style_2">
        <div class="rle_header_wrapper style_2" style="position: fixed;z-index: 9999;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="rle_logo">
                            <a href="/"><img src="{% static 'website-theme/images/icon/logo_white.png' %}" alt="Logo" height="70px" title="Logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
{#                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                            <div class="rle_top_header">#}
{#                                <ul>#}
{#                                    <li><img src="{% static 'website-theme/images/icon/h_icon1.png' %}"> Support now: (095) 3030 601</li>#}
{#                                    <li><img src="{% static 'website-theme/images/icon/h_icon2.png' %}"> <a href="#">Email : hello@realestate.com</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
                        <button class="rle_menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                        <div class="rle_main_menu_wrapper">
                            <div class="rle_main_menu imp-padding-top20">
                                <ul>
                                    <li><a href="/">home</a>
{#                                        <ul class="sub-menu">#}
{#                                            <li><a href="{% static '/index.html' %}">home 1</a></li>#}
{#                                            <li><a href="{% static '/index2.html' %}">home 2</a></li>#}
{#                                            <li><a href="{% static '/index3.html' %}">home 3</a></li>#}
{#                                            <li><a href="{% static '/index4.html' %}">home 4</a></li>#}
{#                                        </ul>#}
                                    </li>
                                    <li><a href="/about/">about us</a></li>
                                    <li><a href="/property-listing/">properties</a>
{#                                        <ul class="sub-menu">#}
{#                                            <li><a href="{% static '/property_gird_fullwidth.html' %}">gird fullwidth</a></li>#}
{#                                            <li><a href="{% static '/property_gird_sidebar.html' %}">gird sidebar</a></li>#}
{#                                            <li><a href="{% static '/property_list_fullwidth.html' %}">list fullwidth</a></li>#}
{#                                            <li><a href="{% static '/property_list_sidebar.html' %}">list sidebar</a></li>#}
{#                                            <li><a href="{% static '/property_map.html' %}">property map</a></li>#}
{#                                            <li><a href="{% static '/property_single_v1.html' %}">single v1</a></li>#}
{#                                            <li><a href="{% static '/property_single_v2.html' %}">single v2</a></li>#}
{#                                        </ul>#}
                                    </li>
{#                                    <li><a href="#">agents</a>#}
{#                                        <ul class="sub-menu">#}
{#                                            <li><a href="{% static '/agent.html' %}">agent</a></li>#}
{#                                            <li><a href="{% static '/agent_single.html' %}">agent single</a></li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li><a href="#">pages</a>#}
{#                                        <ul class="sub-menu">#}
{#                                            <li><a href="{% static '/blog.html' %}">blog</a></li>#}
{#                                            <li><a href="{% static '/blog_grid_v1.html' %}">grid v1</a></li>#}
{#                                            <li><a href="{% static '/blog_grid_v2.html' %}">grid v2</a></li>#}
{#                                            <li><a href="{% static '/blog_single.html' %}">blog single</a></li>#}
{#                                            <li><a href="{% static '/gallery.html' %}">gallery</a></li>#}
{#                                            <li><a href="{% static '/404_pages.html' %}">404 error</a></li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li><a href="#" data-toggle="modal" data-target="#client-query-modal">client query</a></li>#}
                                    <li><a href="/contact/">Become Our Partner</a></li>
                                </ul>
                            </div>
                        </div>
{#                        <div class="rle_signin">#}
{#                            <a href="#" class="rle_btn" id="login_button">sign in</a>#}
{#                            <div id="login_one" class="rle_login_form">#}
{#                                <p>Don’t have an account? <a href="#">Sign up</a></p>#}
{#                                <form class="form">#}
{#                                    <input type="text" placeholder="Username">#}
{#                                    <input type="password" placeholder="Password">#}
{#                                    <div class="rle_checkbox">#}
{#                                        <input type="checkbox" id="remember_me" checked />#}
{#                                        <label for="remember_me">Remember me</label>#}
{#                                    </div>#}
{#                                    <a href="#" class="forgot_pswd">forgot password?</a>#}
{#                                    <button type="submit" class="rle_btn">sign in</button>#}
{#                                    <span>or</span>#}
{#                                    <a href="#" class="share_btn fcbk_clr_1"><i class="fa fa-facebook" aria-hidden="true"></i>login with facebook</a>#}
{#                                    <a href="#" class="share_btn ggl_clr_2"><i class="fa fa-google-plus" aria-hidden="true"></i>login with google plus</a>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 70px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="rle_banner_text style_2">
{#                        <div class="owl-carousel owl-theme" id="featured-slider">#}
{#                            <div class="dida-carousel">#}
{#                                <h1>Your Office Our Priority</h1>#}
{#                            </div>#}
{#                            <div class="dida-carousel">#}
{#                                <h1>Your Office Our Priority</h1>#}
{#                            </div>#}
{#                            <div class="dida-carousel">#}
{#                                <h1>Your Office Our Priority</h1>#}
{#                            </div>#}
{#                        </div>#}
                        <h1>Your Office Our Priority</h1>
{#                        <p>A modern look, new enhanced search features, more buying opportunities!</p>#}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                        <div class="row">
                            <div class="rle_searchform_tabs style_2">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="buy">
                                        <div class="rle_searchform_box">
                                            <input type="search" placeholder="City or landmark" v-model="searchInput">
                                            <button v-on:click="get_searchResults" class="rle_btn"><i class="fa fa-search" aria-hidden="true"></i> search</button>
                                        </div>
                                    </div>
{#                                    <div role="tabpanel" class="tab-pane " id="rent">#}
{#                                        <div class="rle_searchform_box">#}
{#                                            <input type="serch" v-model="searchInput" placeholder="Street, town & landmark">#}
{#                                            <button v-on:click="get_searchResults" class="rle_btn"><i class="fa fa-search" aria-hidden="true"></i> search</button>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Property Wrapper start -->

        <div class="rle_property_wrapper rle_toppadder100 rle_bottompadder70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_center_heading rle_bottompadder60">
                            <h1>Top properties</h1>
                            <p>Check out some of our listed properties</p>
                        </div>
                    </div>
                    <div v-if="property" v-for="item in property" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="rle_property_infobox" v-on:click="productDetails(item.id)">
                            <div class="rle_property_infobox_img" style="height: 36.6vh">
                                <img v-if="item.images.length > 0" :src="item.images[0].file" alt="" title="" style="height: 100%">
                                <img v-else src="http://placehold.it/370x300" alt="" title="">
{#                                <ul>#}
{#                                    <li class="rle_green_clr">for rent</li>#}
{#                                    <li class="rle_black_clr">hot offer</li>#}
{#                                </ul>#}
                            </div>
                            <div class="rle_property_infobox_details style_2">
                                <div class="rle_property_infobox_details_header style_2">
                                    <h3><a href="#">{% verbatim %}{{ item.property_name }}{% endverbatim %}</a></h3>
                                    <p>{% verbatim %}{{ item.address.name }}, {{ item.address.line_2 }}, {{ item.address.city }}, {{ item.address.state }}, {{ item.address.country }}{% endverbatim %}</p>
                                </div>
                                <div class="rle_property_infobox_details_pricefooter">
                                    <span v-if="item.carpet_area && item.unit_of_area" style="color: #695b5b;font-size: 15px;line-height: 1.5;margin-top: 5px;">Area : {% verbatim %}{{ item.carpet_area }} {{ item.unit_of_area }}{% endverbatim %} </span>
                                    <span v-if="item.floor_number" style="color: #695b5b;font-size: 15px;line-height: 1.5;margin-top: 5px;float: right;">Floor Number : {% verbatim %}{{ item.floor_number }}{% endverbatim %} </span>
{#                                    <a href="#" v-on:click="productDetails(item.id)">View detail <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_btn_wrapper rle_toppadder40">
                            <a href="/property-listing/" class="rle_btn">View all properties</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <!-- Why we Wrapper start -->#}
{#        <div class="rle_whywe_wrapper rle_toppadder100 rle_bottompadder70">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">#}
{#                        <div class="rle_whywe_box">#}
{#                            <img src="{% static 'website-theme/images/icon/wyw1.png' %}">#}
{#                            <div class="rle_whywe_box_text">#}
{#                                <h1>3475</h1>#}
{#                                <p>Homes For Sale</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">#}
{#                        <div class="rle_whywe_box">#}
{#                            <img src="{% static 'website-theme/images/icon/wyw2.png' %}">#}
{#                            <div class="rle_whywe_box_text">#}
{#                                <h1>2896</h1>#}
{#                                <p>Homes For Rent</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">#}
{#                        <div class="rle_whywe_box">#}
{#                            <img src="{% static 'website-theme/images/icon/wyw3.png' %}">#}
{#                            <div class="rle_whywe_box_text">#}
{#                                <h1>8540</h1>#}
{#                                <p>Visitor Month</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">#}
{#                        <div class="rle_whywe_box">#}
{#                            <img src="{% static 'website-theme/images/icon/wyw4.png' %}">#}
{#                            <div class="rle_whywe_box_text">#}
{#                                <h1>1247</h1>#}
{#                                <p>Happy Client</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- popular areas Wrapper start -->#}
{#        <div class="rle_awsagent_wrapper rle_toppadder100 rle_bottompadder100">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="rle_center_heading rle_bottompadder60">#}
{#                            <h1>Awesome agents</h1>#}
{#                            <p>Lorem ipsum dolor sit amet consectetur adipiscing</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="rle_agent_slider">#}
{#                            <div class="owl-carousel owl-theme">#}
{#                                <div class="item">#}
{#                                    <div class="rle_agent_slider_details">#}
{#                                        <img src="http://placehold.it/370x340" alt="" title="">#}
{#                                        <div class="rle_agent_slider_details_text">#}
{#                                            <h4>Frederick Willis</h4>#}
{#                                            <p><i class="fa fa-phone" aria-hidden="true"></i> 1-855-337-6228</p>#}
{#                                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@realestate.com</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_agent_slider_details">#}
{#                                        <img src="http://placehold.it/370x340" alt="" title="">#}
{#                                        <div class="rle_agent_slider_details_text">#}
{#                                            <h4>Johnny Watson</h4>#}
{#                                            <p><i class="fa fa-phone" aria-hidden="true"></i> 1-855-337-6228</p>#}
{#                                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@realestate.com</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_agent_slider_details">#}
{#                                        <img src="http://placehold.it/370x340" alt="" title="">#}
{#                                        <div class="rle_agent_slider_details_text">#}
{#                                            <h4>Caleb Fowler</h4>#}
{#                                            <p><i class="fa fa-phone" aria-hidden="true"></i> 1-855-337-6228</p>#}
{#                                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@realestate.com</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_agent_slider_details">#}
{#                                        <img src="http://placehold.it/370x340" alt="" title="">#}
{#                                        <div class="rle_agent_slider_details_text">#}
{#                                            <h4>Hunter West</h4>#}
{#                                            <p><i class="fa fa-phone" aria-hidden="true"></i> 1-855-337-6228</p>#}
{#                                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@realestate.com</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_agent_slider_details">#}
{#                                        <img src="http://placehold.it/370x340" alt="" title="">#}
{#                                        <div class="rle_agent_slider_details_text">#}
{#                                            <h4>Frederick Willis</h4>#}
{#                                            <p><i class="fa fa-phone" aria-hidden="true"></i> 1-855-337-6228</p>#}
{#                                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@realestate.com</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_agent_slider_details">#}
{#                                        <img src="http://placehold.it/370x340" alt="" title="">#}
{#                                        <div class="rle_agent_slider_details_text">#}
{#                                            <h4>Hunter West</h4>#}
{#                                            <p><i class="fa fa-phone" aria-hidden="true"></i> 1-855-337-6228</p>#}
{#                                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@realestate.com</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <!-- Clients & Partners Wrapper start -->
        <div class="rle_clntsNprtnr_wrapper rle_toppadder100 rle_bottompadder100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_left_heading rle_bottompadder60">
                            <h1>What clients say</h1>
{#                            <p>Lorem ipsum dolor sit amet consectetur adipiscing</p>#}
                        </div>
                        <div class="rle_client_say_slider">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="rle_clientsay_slider_details">
                                        <div class="rle_clientsay_slider_details_text">
                                            <p>“ Flipspaces came in, quickly understood our requirements and did an awesome work with constraints of time to give our office more quirk, color and engagement. We were mighty impressed by the team's unique design ideas and the passion they brought to the process. The end result was an office which was remarkable both in terms of functionality and capturing our culture and ethos. ”</p>
{#                                            <ul>#}
{#                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                                            </ul>#}
                                        </div>
                                        <div class="rle_clientsay_slider_details_img">
                                            <img src="{% static 'website-theme/images/testimonials_logo/4.jpg' %}" alt="" title="">
                                            <h4>Mahesh Shetty</h4>
                                            <p>COO, Radio Mirchi</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="rle_clientsay_slider_details">
                                        <div class="rle_clientsay_slider_details_text">
                                            <p>“ Flipspaces designed four of our offices – Mumbai, Hyderabad, Chennai & Bangalore. All the three offices are beautifully made with open space seating arrangement, giving a perception of bigger space, something we tried for the first time. There is ample amount of natural light that flows in and the designs made it look like a new generation office. It is full of youthfulness and gives out positive vibes to the employees. ”</p>
                                        </div>
                                        <div class="rle_clientsay_slider_details_img">
                                            <img src="{% static 'website-theme/images/testimonials_logo/1.jpg' %}" alt="" title="">
                                            <h4>Pankaj Tripathi</h4>
                                            <p>General Manager, Commercial & Administration, BSH</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="rle_clientsay_slider_details">
                                        <div class="rle_clientsay_slider_details_text">
                                            <p>“ Flipspaces has worked with us twice towards creating an office from bare-shell and more recently in redesigning a warm shell office. Their commitment to quality and timeline is impressive just as their original design ideas. We loved how they made payment & finance company look cool with plenty of interesting spaces for employees to collaborate. ”</p>
                                        </div>
                                        <div class="rle_clientsay_slider_details_img">
                                            <img src="{% static 'website-theme/images/testimonials_logo/5.jpg' %}" alt="" title="">
                                            <h4>Harshil Mathur</h4>
                                            <p>Founder, Razorpay</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="rle_clientsay_slider_details">
                                        <div class="rle_clientsay_slider_details_text">
                                            <p>“ Being a multinational corporation that provides a global workplace, we had certain design guidelines to abide. Flipspaces design is hugely valuable, and the way they linked it with flawless implementation was really powerful.  They created an elegant, cosy and warm office for us. Whenever we are doing our next office, Flipspaces would be our obvious first choice. ”</p>
                                        </div>
                                        <div class="rle_clientsay_slider_details_img">
                                            <img src="{% static 'website-theme/images/testimonials_logo/6.jpg' %}" alt="" title="">
                                            <h4>Regus</h4>
{#                                            <p>General Manager, Commercial & Administration, BSH</p>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="rle_clientsay_slider_details">
                                        <div class="rle_clientsay_slider_details_text">
                                            <p>“ Flipspaces came in as an one stop solution for all our office expansion needs. They understood what we needed from the outset. They were prompt in understanding our requirement and turned it into something amazing. What stand them apart is the Virtual Reality Technology that helped us visualize the future office space and make changes in real time, thus saving a lot of our time. Currently they are designing our Boston office and we are more than happy to work with them. ”</p>
                                        </div>
                                        <div class="rle_clientsay_slider_details_img">
                                            <img src="{% static 'website-theme/images/testimonials_logo/3.jpg' %}" alt="" title="">
                                            <h4>Vivek Khemani</h4>
                                            <p>Founder, Quantiphi</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="rle_clientsay_slider_details">
                                        <div class="rle_clientsay_slider_details_text">
                                            <p>“ I always wanted the office to look cool in the Indian way. Coming from the IT background, we took a leap to create a boutique styled office. Whenever a prospective client visits our office, the culture and the trendy vibes implant a sense of positivity and confidence. This office brings about more transparency not only among employees, but also between the client and the company. Flipspaces helped us achieve this very beautifully ”</p>
                                        </div>
                                        <div class="rle_clientsay_slider_details_img">
                                            <img src="{% static 'website-theme/images/testimonials_logo/2.jpg' %}" alt="" title="">
                                            <h4>Rajan Parasuraman</h4>
                                            <p>MD, News Technology Services</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{#                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">#}
{#                            <div class="rle_left_heading rle_bottompadder60">#}
{#                                <h1>Our partner</h1>#}
{#                                <p>Lorem ipsum dolor sit amet consectetur adipiscing</p>#}
{#                            </div>#}
{#                        <div class="row">#}
{#                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{#                                <div class="rle_partner_style_2">#}
{#                                    <img src="http://placehold.it/105x55" alt="" title="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{#                                <div class="rle_partner_style_2">#}
{#                                    <img src="http://placehold.it/105x55" alt="" title="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{#                                <div class="rle_partner_style_2">#}
{#                                    <img src="http://placehold.it/105x55" alt="" title="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{#                                <div class="rle_partner_style_2">#}
{#                                    <img src="http://placehold.it/105x55" alt="" title="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{#                                <div class="rle_partner_style_2">#}
{#                                    <img src="http://placehold.it/105x55" alt="" title="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{#                                <div class="rle_partner_style_2">#}
{#                                    <img src="http://placehold.it/105x55" alt="" title="">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
{#        <!-- Newletters Wrapper start -->#}
{#        <div class="rle_newletters_wrapper rle_toppadder80 rle_bottompadder80">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="rle_center_heading rle_bottompadder30">#}
{#                            <h1>Subscribe now for latest update</h1>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">#}
{#                        <div class="rle_newletters_box">#}
{#                            <input type="serch" placeholder="Enter Your Email">#}
{#                            <button class="rle_btn">Subscribe</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="dida-message-us" data-toggle="modal" data-target="#agent-query-modal">#}
{#            Agent Query#}
{#        </div>#}
{#        <!-- Client Query modal -->#}
{#        <div class="modal" tabindex="-1" role="dialog" id="client-query-modal">#}
{#          <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#              <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#                <h5 class="modal-title">Client Query Form</h5>#}
{#              </div>#}
{#                <div class="modal-body">#}
{#                <div class="card-body">#}
{#                    <div class="form-group">#}
{#                        <label for="address-name">Name<sup style="color: red;">*</sup></label>#}
{#                        <input class="form-control" id="client-name" required type="text" v-model="clientName">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="address-line1">Email<sup style="color: red;">*</sup></label>#}
{#                        <input class="form-control" id="client-email" required type="email" v-model="clientEmail">#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6">#}
{#                            <div class="form-group">#}
{#                                <label for="country-code">Country Code<sup style="color: red;">*</sup></label>#}
{#                                <select name="country-code" id="select-country-code" class="form-control" v-model="clientCountryCode">#}
{##}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6">#}
{#                            <div class="form-group">#}
{#                                <label for="address-state">Contact<sup style="color: red;">*</sup></label>#}
{#                                <input class="form-control" onKeyPress="if(this.value.length===10) return false;" id="client-contact" required type="number" v-model="clientContact">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                      <button type="button" class="btn btn-primary project-status" v-on:click="clientQuery">Submit</button>#}
{#                  </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <!--end Client Query modal -->#}
{#        <!-- Agent Query modal -->#}
{#        <div class="modal" tabindex="-1" role="dialog" id="agent-query-modal">#}
{#          <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#              <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#                <h5 class="modal-title">Agent Query From</h5>#}
{#              </div>#}
{#              <div class="modal-body">#}
{#                <div class="card-body">#}
{#                    <div class="form-group">#}
{#                        <label for="address-name">Name<sup style="color: red;">*</sup></label>#}
{#                        <input class="form-control" id="client-name" required type="text" v-model="agentName">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="address-line1">Email<sup style="color: red;">*</sup></label>#}
{#                        <input class="form-control" id="client-email" required type="email" v-model="agentEmail">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="address-name">Message<sup style="color: red;">*</sup></label>#}
{#                        <textarea class="form-control" id="client-name" required type="text" v-model="agentMessage"></textarea>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6">#}
{#                            <div class="form-group">#}
{#                                <label>Country Code<sup style="color: red;">*</sup></label>#}
{#                                <select id="agent-select-country-code" class="form-control" v-model="agentCountryCode">#}
{##}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6">#}
{#                            <div class="form-group">#}
{#                                <label for="address-state">Contact<sup style="color: red;">*</sup></label>#}
{#                                <input class="form-control" onKeyPress="if(this.value.length===10) return false;" id="client-contact" required type="number" v-model="agentContact">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                      <button type="button" class="btn btn-primary project-status" v-on:click="agentQuery">Submit</button>#}
{#                  </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <!--end Agent Query modal -->#}
</div>
{% endblock %}

{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="{% static 'website-theme/js/website-js/home.js' %}"></script>
{% endblock page_level_scripts %}
