{% extends 'base.html' %}
{% load static from staticfiles %}

{% block scoped_css %}

{% endblock scoped_css %}
{% block homeBanner %}

{% endblock %}
{% block content %}
    <div id="website-details-app">
        <div class="style_2">
            <div class="rle_header_wrapper style_2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="rle_logo">
                                <a href="#"><img src="{% static 'website-theme/images/icon/logo.png' %}" alt="Logo" title="Logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
{#                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                                <div class="rle_top_header">#}
{#                                    <ul>#}
{#                                        <li><img src="{% static 'website-theme/images/icon/h_icon1.png' %}"> Support now: (095) 3030 601</li>#}
{#                                        <li><img src="{% static 'website-theme/images/icon/h_icon2.png' %}"> <a href="#">Email : hello@realestate.com</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                            <button class="rle_menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                            <div class="rle_main_menu_wrapper">
                                <div class="rle_main_menu imp-padding-top20">
                                    <ul>
                                        <li><a href="/">home</a>
                                            <ul class="sub-menu">
    {#                                            <li><a href="{% static '/index.html' %}">home 1</a></li>#}
    {#                                            <li><a href="{% static '/index2.html' %}">home 2</a></li>#}
    {#                                            <li><a href="{% static '/index3.html' %}">home 3</a></li>#}
    {#                                            <li><a href="{% static '/index4.html' %}">home 4</a></li>#}
                                            </ul>
                                        </li>
                                        <li><a href="/about/">about us</a></li>
                                        <li><a href="/property-listing/">properties</a>
    {#                                        <ul class="sub-menu">#}
    {#                                            <li><a href="{% static '/property_gird_fullwidth.html' %}">gird fullwidth</a></li>#}
    {#                                            <li><a href="{% static '/property_gird_sidebar.html' %}">gird sidebar</a></li>#}
    {#                                            <li><a href="{% static '/property_list_fullwidth.html' %}">list fullwidth</a></li>#}
    {#                                            <li><a href="{% static '/property_list_sidebar.html' %}">list sidebar</a></li>#}
    {#                                            <li><a href="{% static '/property_map.html' %}">property map</a></li>#}
    {#                                            <li><a href="{% static '/property_single_v1.html' %}">single v1</a></li>#}
    {#                                            <li><a href="{% static '/property_single_v2.html' %}">single v2</a></li>#}
    {#                                        </ul>#}
                                        </li>
    {#                                    <li><a href="#">agents</a>#}
    {#                                        <ul class="sub-menu">#}
    {#                                            <li><a href="{% static '/agent.html' %}">agent</a></li>#}
    {#                                            <li><a href="{% static '/agent_single.html' %}">agent single</a></li>#}
    {#                                        </ul>#}
    {#                                    </li>#}
    {#                                    <li><a href="#">pages</a>#}
    {#                                        <ul class="sub-menu">#}
    {#                                            <li><a href="{% static '/blog.html' %}">blog</a></li>#}
    {#                                            <li><a href="{% static '/blog_grid_v1.html' %}">grid v1</a></li>#}
    {#                                            <li><a href="{% static '/blog_grid_v2.html' %}">grid v2</a></li>#}
    {#                                            <li><a href="{% static '/blog_single.html' %}">blog single</a></li>#}
    {#                                            <li><a href="{% static '/gallery.html' %}">gallery</a></li>#}
    {#                                            <li><a href="{% static '/404_pages.html' %}">404 error</a></li>#}
    {#                                        </ul>#}
    {#                                    </li>#}
                                        <li><a href="/contact/">contact</a></li>
                                    </ul>
                                </div>
                            </div>
    {#                        <div class="rle_signin">#}
    {#                            <a href="#" class="rle_btn" id="login_button">sign in</a>#}
    {#                            <div id="login_one" class="rle_login_form">#}
    {#                                <p>Don’t have an account? <a href="#">Sign up</a></p>#}
    {#                                <form class="form">#}
    {#                                    <input type="text" placeholder="Username">#}
    {#                                    <input type="password" placeholder="Password">#}
    {#                                    <div class="rle_checkbox">#}
    {#                                        <input type="checkbox" id="remember_me" checked />#}
    {#                                        <label for="remember_me">Remember me</label>#}
    {#                                    </div>#}
    {#                                    <a href="#" class="forgot_pswd">forgot password?</a>#}
    {#                                    <button type="submit" class="rle_btn">sign in</button>#}
    {#                                    <span>or</span>#}
    {#                                    <a href="#" class="share_btn fcbk_clr_1"><i class="fa fa-facebook" aria-hidden="true"></i>login with facebook</a>#}
    {#                                    <a href="#" class="share_btn ggl_clr_2"><i class="fa fa-google-plus" aria-hidden="true"></i>login with google plus</a>#}
    {#                                </form>#}
    {#                            </div>#}
    {#                        </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Property Single Wrapper start -->
        <div v-if="propertyDetails" class="swiper-container slider_v2">
            <div v-if="propertyDetails.images.length > 0 || propertyDetails.videos.length > 0" class="swiper-wrapper">
                <div v-for="item in propertyDetails.images" v-if="item.type === 'b'" class="swiper-slide"><img :src="item.file" alt="" /></div>
                <div v-for="item in propertyDetails.videos" v-if="item.type === 'b'" class="swiper-slide"><iframe width="100%" height="100%" :src="item.url+'?rel=0&showinfo=0&autoplay=1'" allow="autoplay;"></iframe></div>
{#                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>#}
{#                <div class="swiper-slide"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY?rel=0&showinfo=0&autoplay=1" allow="autoplay;"></iframe></div>#}
{#                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>#}
{#                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>#}
            </div>
            <div v-else class="swiper-wrapper">
                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>
                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>
                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <!-- Property Single Wrapper start -->
        <div class="rle_property_single_wrapper rle_toppadder100 rle_bottompadder70">
            <div class="container">
                <div v-if="propertyDetails" class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="rle_property_single_heading">
                            <h2 v-if="propertyDetails.property_name">{% verbatim %}{{ propertyDetails.property_name }}{% endverbatim %} <sup>For rent</sup></h2>
                            <p v-if="propertyDetails.address">{% verbatim %}{{ propertyDetails.address.name }} {{ propertyDetails.address.locality }} {{ propertyDetails.address.city }} {{ propertyDetails.address.state }}{% endverbatim %}</p>
                        </div>
                        <div class="rle_property_details_box">
                            <h3>Property description</h3>
                            <p v-html="propertyDetails.description"></p>
                        </div>
                        <div class="rle_property_details_box">
                            <h3>Features property</h3>
                            <ul class="feature_prop">
                                <li v-if="propertyDetails.pantry">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="1" checked disabled />
                                        <label for="1">Pantry</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.washroom">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="2" checked disabled />
                                        <label for="2">Washroom</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.power_backup">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="3" checked disabled />
                                        <label for="3">Power Backup</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.lift_availability">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="4" checked disabled />
                                        <label for="4">Lift Availability</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.a_c">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="5" checked disabled />
                                        <label for="5">AC</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.cctv">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="6" checked disabled />
                                        <label for="6">CCTV</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.cafeteria">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="7" checked disabled />
                                        <label for="7">Cafeteria</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.fire_sprinklers">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="8" checked disabled />
                                        <label for="8">Fire Sprinklers</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.earthing">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="9" checked disabled />
                                        <label for="9">Earthing</label>
                                    </div>
                                </li>
                                <li v-if="propertyDetails.electrical_con">
                                    <div class="rle_checkbox">
                                        <input type="checkbox" id="10" checked />
                                        <label for="10">Electrical Connection</label>
                                    </div>
                                </li>
{#                                <li>#}
{#                                    <div class="rle_checkbox">#}
{#                                        <input type="checkbox" id="11" checked />#}
{#                                        <label for="11">Bedding</label>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="rle_checkbox">#}
{#                                        <input type="checkbox" id="12" checked />#}
{#                                        <label for="12">Laundry</label>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="rle_checkbox">#}
{#                                        <input type="checkbox" id="13" checked />#}
{#                                        <label for="13">Tv cable</label>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="rle_checkbox">#}
{#                                        <input type="checkbox" id="14" checked />#}
{#                                        <label for="14">Refrigerator</label>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="rle_checkbox">#}
{#                                        <input type="checkbox" id="15" checked />#}
{#                                        <label for="15">Wifi</label>#}
{#                                    </div>#}
{#                                </li>#}
                            </ul>
                        </div>
                        <div class="rle_property_details_box">
                            <h3>More Features</h3>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.furnishing_status"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Furnishing Status: <span v-html="furnishing_status[propertyDetails.furnishing_status]"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.age"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Property Age: {% verbatim %}{{ propertyDetails.age }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.rental_value"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Property Rent: Rs. {% verbatim %}{{ propertyDetails.rental_value }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.monthly_maintenance"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Monthly Maintenance: Rs. {% verbatim %}{{ propertyDetails.monthly_maintenance }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.security_deposit"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Security Deposit: Rs. {% verbatim %}{{ propertyDetails.security_deposit }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.other_charges !== null" v-for="key, value in propertyDetails.other_charges"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;<span>{% verbatim %}{{ value }}: Rs. {{ key }}{% endverbatim %}</span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.parking"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Parking Type: <span v-html="parking_choice[propertyDetails.parking]"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.parking_area"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Parking Area: {% verbatim %}{{ propertyDetails.parking_area }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.facing"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Facing Direction: <span v-html="facing_options[propertyDetails.facing]"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.flooring"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Flooring Type: <span v-html="flooring_type[propertyDetails.flooring]"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.buildup_area"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Buildup Area: {% verbatim %}{{ propertyDetails.buildup_area }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.carpet_area"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Carpet Area: {% verbatim %}{{ propertyDetails.carpet_area }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.number_of_basements"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Number of Basements: {% verbatim %}{{ propertyDetails.number_of_basements }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.ceiling_height"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Ceiling Height: {% verbatim %}{{ propertyDetails.ceiling_height }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.beam_height"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Beam Height: {% verbatim %}{{ propertyDetails.beam_height }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.lease_term"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Lease Term: {% verbatim %}{{ propertyDetails.lease_term }}{% endverbatim %}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.flooring_details"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Flooring Details: <span v-html="propertyDetails.flooring_details"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.ceiling_details"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Ceiling Details: <span v-html="propertyDetails.ceiling_details"></span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.washroom_details"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Washroom Details: &nbsp; &nbsp; <span v-if="propertyDetails.washroom_details.WC">WC: {% verbatim %}{{ propertyDetails.washroom_details.WC }}{% endverbatim %}</span> &nbsp; &nbsp; <span v-if="propertyDetails.washroom_details.Urinals">Urinals: {% verbatim %}{{ propertyDetails.washroom_details.Urinals }}{% endverbatim %}</span></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" v-if="propertyDetails.landmark"><i class="fa fa-circle" style="color: #00aeef"></i>&nbsp;&nbsp;Landmark: {% verbatim %}{{ propertyDetails.landmark }}{% endverbatim %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="propertyDetails.floor_plan.length > 0" class="rle_property_details_box">
                            <h3>Floor plan</h3>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li v-if="propertyDetails.floor_plan.length > 0" v-for="item in propertyDetails.floor_plan" role="presentation" class="active"><a :href="'#floor'+item.floor_number" :aria-controls="'floor'+item.floor_number" role="tab" data-toggle="tab" v-html="floor_choice[item.floor_number]"></a></li>
{#                                <li role="presentation"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">first floor</a></li>#}
{#                                <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">second floor</a></li>#}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div v-for="items in propertyDetails.floor_plan" role="tabpanel" class="tab-pane active" :id="'floor'+items.floor_number">
                                    <p>{% verbatim %}{{ items.description }}{% endverbatim %}</p>
{#                                    <ul>#}
{#                                        <li><span>1458</span> sqft</li>#}
{#                                        <li><span>02</span> bedrooms</li>#}
{#                                        <li><span>02</span> bathroom</li>#}
{#                                        <li><span>$2800</span> per month</li>#}
{#                                    </ul>#}
                                    <div class="swiper-container slider_v2">
                                        <div v-if="items.images.length > 0 || items.videos.length > 0" class="swiper-wrapper">
                                            <div v-for="item in items.images" class="swiper-slide"><img :src="item.file" alt="" /></div>
                                            <div v-for="item in items.videos" v-if="item.type === 'f'" class="swiper-slide"><iframe width="100%" height="100%" :src="item.url+'?rel=0&showinfo=0&autoplay=1'" allow="autoplay;"></iframe></div>
                                {#            <div class="swiper-slide"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY?rel=0&showinfo=0&autoplay=1" allow="autoplay;"></iframe></div>#}
                            {#                <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>#}
                                        </div>
                                        <div v-else class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="http://placehold.it/956x520" alt="" /></div>
                                        </div>
                                        <div class="swiper-button-next swiper-button-white"></div>
                                        <div class="swiper-button-prev swiper-button-white"></div>
                                    </div>
                                </div>
{#                                <div role="tabpanel" class="tab-pane" id="first">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu scelerisque eros. Duis scelerisque, ante sed lacinia ullamcorper, erat lectus imperdiet ante, quis pharetra lectus dui in nisl. Quisque eget lorem quis ex faucibus tempor. Nullam eget interdum neque, sed sodales nulla. Mauris pharetra vestibulum velit at finibus</p>#}
{#                                    <ul>#}
{#                                        <li><span>1368</span> sqft</li>#}
{#                                        <li><span>02</span> bedrooms</li>#}
{#                                        <li><span>01</span> bathroom</li>#}
{#                                        <li><span>$2300</span> per month</li>#}
{#                                    </ul>#}
{#                                    <div class="floor_img">#}
{#                                        <img src="http://placehold.it/681x456" class="img-responsive">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div role="tabpanel" class="tab-pane" id="second">#}
{#                                    <p>Nullam eget interdum neque, sed sodales nulla. Mauris pharetra vestibulum velit at finibus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu scelerisque eros. Duis scelerisque, ante sed lacinia ullamcorper, erat lectus imperdiet ante, quis pharetra lectus dui in nisl. Quisque eget lorem quis ex faucibus tempor. </p>#}
{#                                    <ul>#}
{#                                        <li><span>2510</span> sqft</li>#}
{#                                        <li><span>03</span> bedrooms</li>#}
{#                                        <li><span>03</span> bathroom</li>#}
{#                                        <li><span>$3000</span> per month</li>#}
{#                                    </ul>#}
{#                                    <div class="floor_img">#}
{#                                        <img src="http://placehold.it/681x456" class="img-responsive">#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                        <div v-if="propertyDetails.nearest" class="rle_property_details_box">
                            <h3>Point of interest</h3>
                            <div class="panel-group" id="accordion">
                                {% verbatim %}
                                <div v-for="item in propertyDetails.nearest" class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" :href="'#collapse'+item.id"><i class="fa fa-building" aria-hidden="true"></i> <span v-html="nearest_code[item.title]"></span></a>
                                        </h4>
                                    </div>
                                    <div :id="'collapse'+item.id" class="panel-collapse collapse">
                                        <div class="panel-body">{{ item.distance }}Km</div>
                                    </div>
                                </div>
                                {% endverbatim %}
{#                                <div class="panel panel-default">#}
{#                                    <div class="panel-heading">#}
{#                                        <h4 class="panel-title">#}
{#                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-coffee" aria-hidden="true"></i> Restaurant</a>#}
{#                                        </h4>#}
{#                                    </div>#}
{#                                    <div id="collapse2" class="panel-collapse collapse">#}
{#                                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="panel panel-default">#}
{#                                    <div class="panel-heading">#}
{#                                        <h4 class="panel-title">#}
{#                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-university" aria-hidden="true"></i> Bank</a>#}
{#                                        </h4>#}
{#                                    </div>#}
{#                                    <div id="collapse3" class="panel-collapse collapse">#}
{#                                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="panel panel-default">#}
{#                                    <div class="panel-heading">#}
{#                                        <h4 class="panel-title">#}
{#                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="fa fa-train" aria-hidden="true"></i> Public Transportation</a>#}
{#                                        </h4>#}
{#                                    </div>#}
{#                                    <div id="collapse4" class="panel-collapse collapse">#}
{#                                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                        <div class="rle_property_details_box">
                            <h3>Video tour</h3>
                            <div v-if="propertyDetails.videos.length > 0">
                                <div v-for="item in propertyDetails.videos" v-if="item.type === 't'">
                                    <iframe :src="item.url+'?rel=0&showinfo=0&autoplay=0'" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
{#                        <div class="rle_property_details_box">#}
{#                            <h3>Page view</h3>#}
{#                            <canvas id="canvas"></canvas>#}
{#                        </div>#}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="rle_property_details_box_2">
                            <div class="share_props">
                                <span>Share property</span>
                                <ul>
                                    <li><a href="#" class="clr_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="clr_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="clr_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="clr_linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="rle_property_details_box">
{#                            <div class="user_info">#}
{#                                <img src="http://placehold.it/100x100">#}
{#                                <h4>Nicholas Jacobs</h4>#}
{#                                <p>Expert agent</p>#}
{#                                <ul>#}
{#                                    <li><a href="#" class="clr_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#                                    <li><a href="#" class="clr_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
{#                                    <li><a href="#" class="clr_linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
{#                                </ul>#}
{#                            </div>#}
                            <div class="user_info_share style_2">
                                <ul v-if="propertyDetails.contact">
                                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> {% verbatim %}{{ propertyDetails.country_code }} {{ propertyDetails.contact }}{% endverbatim %}</a></li>
{#                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Jacobs@alphahousing.com</a></li>#}
{#                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i> NicholasJacobos.Agent</a></li>#}
                                </ul>
                            </div>
                            <div class="user_info_form">
                                <form>
                                    <input type="text" maxlength="250" placeholder="Name" v-model="clientName">
                                    <input type="email" placeholder="Email" v-model="clientEmail">
                                    <input type="number" placeholder="Mobile" onKeyPress="if(this.value.length===10) return false;" v-model="clientContact">
                                    <a href="#" class="rle_btn" v-on:click="clientQuery">get contact detail</a>
                                </form>
                            </div>
                        </div>
                        <div class="rle_property_details_box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2862.946176260837!2d-94.00080714881642!3d44.14635442831629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f4398360b0ffe3%3A0xc8e0f38bc3920a41!2sMinnesota+State+University%2C+Mankato!5e0!3m2!1sen!2sin!4v1490446318407" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Property Wrapper start -->
{#        <div class="rle_property_wrapper rle_bottompadder70">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="rle_center_heading rle_bottompadder60">#}
{#                            <h1>Similar property</h1>#}
{#                            <p>Real Estate In Australia has access to new release properties</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="rle_property_slider">#}
{#                            <div class="owl-carousel owl-theme">#}
{#                                <div class="item">#}
{#                                    <div class="rle_property_infobox">#}
{#                                        <div class="rle_property_infobox_img">#}
{#                                            <img src="http://placehold.it/370x300" alt="" title="">#}
{#                                            <span><sup>$</sup>650.000</span>#}
{#                                        </div>#}
{#                                        <div class="rle_property_infobox_details">#}
{#                                            <div class="rle_property_infobox_details_header">#}
{#                                                <ul>#}
{#                                                    <li class="rle_red_clr">for sale</li>#}
{#                                                    <li class="rle_black_clr">hot offer</li>#}
{#                                                </ul>#}
{#                                                <h3><a href="#">The Chalet Estate</a></h3>#}
{#                                                <p>KT89B Hampton Court, England, United Kingdom</p>#}
{#                                            </div>#}
{#                                            <div class="rle_property_infobox_details_footer">#}
{#                                                <p>Area : 3578 sqft </p>#}
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                    <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_property_infobox">#}
{#                                        <div class="rle_property_infobox_img">#}
{#                                            <img src="http://placehold.it/370x300" alt="" title="">#}
{#                                            <span><sup>$</sup>4800.00<sub>/mon</sub></span>#}
{#                                        </div>#}
{#                                        <div class="rle_property_infobox_details">#}
{#                                            <div class="rle_property_infobox_details_header">#}
{#                                                <ul>#}
{#                                                    <li class="rle_green_clr">for rent</li>#}
{#                                                </ul>#}
{#                                                <h3><a href="#">Morden Apartment</a></h3>#}
{#                                                <p>KT89B Hampton Court, England, United Kingdom</p>#}
{#                                            </div>#}
{#                                            <div class="rle_property_infobox_details_footer">#}
{#                                                <p>Area : 3578 sqft </p>#}
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                    <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_property_infobox">#}
{#                                        <div class="rle_property_infobox_img">#}
{#                                            <img src="http://placehold.it/370x300" alt="" title="">#}
{#                                            <span><sup>$</sup>4800.00<sub>/mon</sub></span>#}
{#                                        </div>#}
{#                                        <div class="rle_property_infobox_details">#}
{#                                            <div class="rle_property_infobox_details_header">#}
{#                                                <ul>#}
{#                                                    <li class="rle_green_clr">for rent</li>#}
{#                                                    <li class="rle_black_clr">hot offer</li>#}
{#                                                </ul>#}
{#                                                <h3><a href="#">Luxurious Deplux</a></h3>#}
{#                                                <p>KT89B Hampton Court, England, United Kingdom</p>#}
{#                                            </div>#}
{#                                            <div class="rle_property_infobox_details_footer">#}
{#                                                <p>Area : 3578 sqft </p>#}
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                    <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_property_infobox">#}
{#                                        <div class="rle_property_infobox_img">#}
{#                                            <img src="http://placehold.it/370x300" alt="" title="">#}
{#                                            <span><sup>$</sup>650.00</span>#}
{#                                        </div>#}
{#                                        <div class="rle_property_infobox_details">#}
{#                                            <div class="rle_property_infobox_details_header">#}
{#                                                <ul>#}
{#                                                    <li class="rle_red_clr">for sale</li>#}
{#                                                </ul>#}
{#                                                <h3><a href="#">Westbourne House</a></h3>#}
{#                                                <p>KT89B Hampton Court, England, United Kingdom</p>#}
{#                                            </div>#}
{#                                            <div class="rle_property_infobox_details_footer">#}
{#                                                <p>Area : 3578 sqft </p>#}
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                    <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_property_infobox">#}
{#                                        <div class="rle_property_infobox_img">#}
{#                                            <img src="http://placehold.it/370x300" alt="" title="">#}
{#                                            <span><sup>$</sup>650.00</span>#}
{#                                        </div>#}
{#                                        <div class="rle_property_infobox_details">#}
{#                                            <div class="rle_property_infobox_details_header">#}
{#                                                <ul>#}
{#                                                    <li class="rle_red_clr">for sale</li>#}
{#                                                </ul>#}
{#                                                <h3><a href="#">Sturrock Place Gordon</a></h3>#}
{#                                                <p>KT89B Hampton Court, England, United Kingdom</p>#}
{#                                            </div>#}
{#                                            <div class="rle_property_infobox_details_footer">#}
{#                                                <p>Area : 3578 sqft </p>#}
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                    <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="rle_property_infobox">#}
{#                                        <div class="rle_property_infobox_img">#}
{#                                            <img src="http://placehold.it/370x300" alt="" title="">#}
{#                                            <span><sup>$</sup>4800.00<sub>/mon</sub></span>#}
{#                                        </div>#}
{#                                        <div class="rle_property_infobox_details">#}
{#                                            <div class="rle_property_infobox_details_header">#}
{#                                                <ul>#}
{#                                                    <li class="rle_green_clr">for rent</li>#}
{#                                                    <li class="rle_black_clr">hot offer</li>#}
{#                                                </ul>#}
{#                                                <h3><a href="#">Valmark Orchard</a></h3>#}
{#                                                <p>KT89B Hampton Court, England, United Kingdom</p>#}
{#                                            </div>#}
{#                                            <div class="rle_property_infobox_details_footer">#}
{#                                                <p>Area : 3578 sqft </p>#}
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                    <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                    <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <!-- Partner Wrapper start -->
        <div class="rle_partner_wrapper rle_toppadder60 rle_bottompadder60">
            <div class="container">
                <div class="row">
                    <ul>
                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>
                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>
                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>
                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>
                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="{% static 'website-theme/js/website-js/details.js' %}"></script>
    <script>debugger;</script>
    <script type="text/javascript" src="{% static 'website-theme/js/owl.carousel.js' %}"></script>
{% endblock page_level_scripts %}
