{% extends 'base.html' %}

{% load static from staticfiles %}
{% block scoped_css %}

{% endblock scoped_css %}
{% block content %}
    <div id="website-listing-app">
        <div class="style_2">
            <div class="rle_header_wrapper style_2" style="position: fixed;z-index: 9999;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="rle_logo">
                                <a href="/"><img src="{% static 'website-theme/images/icon/logo_white.png' %}" alt="Logo" height="70px" title="Logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
{#                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                                <div class="rle_top_header">#}
{#                                    <ul>#}
{#                                        <li><img src="{% static 'website-theme/images/icon/h_icon1.png' %}"> Support now: (095) 3030 601</li>#}
{#                                        <li><img src="{% static 'website-theme/images/icon/h_icon2.png' %}"> <a href="#">Email : hello@realestate.com</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                            <button class="rle_menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                            <div class="rle_main_menu_wrapper">
                                <div class="rle_main_menu imp-padding-top20">
                                    <ul>
                                        <li><a href="/">home</a>
                                            <ul class="sub-menu">
    {#                                            <li><a href="{% static '/index.html' %}">home 1</a></li>#}
    {#                                            <li><a href="{% static '/index2.html' %}">home 2</a></li>#}
    {#                                            <li><a href="{% static '/index3.html' %}">home 3</a></li>#}
    {#                                            <li><a href="{% static '/index4.html' %}">home 4</a></li>#}
                                            </ul>
                                        </li>
                                        <li><a href="/about/">about us</a></li>
                                        <li><a href="/property-listing/">properties</a>
    {#                                        <ul class="sub-menu">#}
    {#                                            <li><a href="{% static '/property_gird_fullwidth.html' %}">gird fullwidth</a></li>#}
    {#                                            <li><a href="{% static '/property_gird_sidebar.html' %}">gird sidebar</a></li>#}
    {#                                            <li><a href="{% static '/property_list_fullwidth.html' %}">list fullwidth</a></li>#}
    {#                                            <li><a href="{% static '/property_list_sidebar.html' %}">list sidebar</a></li>#}
    {#                                            <li><a href="{% static '/property_map.html' %}">property map</a></li>#}
    {#                                            <li><a href="{% static '/property_single_v1.html' %}">single v1</a></li>#}
    {#                                            <li><a href="{% static '/property_single_v2.html' %}">single v2</a></li>#}
    {#                                        </ul>#}
                                        </li>
    {#                                    <li><a href="#">agents</a>#}
    {#                                        <ul class="sub-menu">#}
    {#                                            <li><a href="{% static '/agent.html' %}">agent</a></li>#}
    {#                                            <li><a href="{% static '/agent_single.html' %}">agent single</a></li>#}
    {#                                        </ul>#}
    {#                                    </li>#}
    {#                                    <li><a href="#">pages</a>#}
    {#                                        <ul class="sub-menu">#}
    {#                                            <li><a href="{% static '/blog.html' %}">blog</a></li>#}
    {#                                            <li><a href="{% static '/blog_grid_v1.html' %}">grid v1</a></li>#}
    {#                                            <li><a href="{% static '/blog_grid_v2.html' %}">grid v2</a></li>#}
    {#                                            <li><a href="{% static '/blog_single.html' %}">blog single</a></li>#}
    {#                                            <li><a href="{% static '/gallery.html' %}">gallery</a></li>#}
    {#                                            <li><a href="{% static '/404_pages.html' %}">404 error</a></li>#}
    {#                                        </ul>#}
    {#                                    </li>#}
                                        <li><a href="/contact/">Become Our Partner</a></li>
                                    </ul>
                                </div>
                            </div>
    {#                        <div class="rle_signin">#}
    {#                            <a href="#" class="rle_btn" id="login_button">sign in</a>#}
    {#                            <div id="login_one" class="rle_login_form">#}
    {#                                <p>Don’t have an account? <a href="#">Sign up</a></p>#}
    {#                                <form class="form">#}
    {#                                    <input type="text" placeholder="Username">#}
    {#                                    <input type="password" placeholder="Password">#}
    {#                                    <div class="rle_checkbox">#}
    {#                                        <input type="checkbox" id="remember_me" checked />#}
    {#                                        <label for="remember_me">Remember me</label>#}
    {#                                    </div>#}
    {#                                    <a href="#" class="forgot_pswd">forgot password?</a>#}
    {#                                    <button type="submit" class="rle_btn">sign in</button>#}
    {#                                    <span>or</span>#}
    {#                                    <a href="#" class="share_btn fcbk_clr_1"><i class="fa fa-facebook" aria-hidden="true"></i>login with facebook</a>#}
    {#                                    <a href="#" class="share_btn ggl_clr_2"><i class="fa fa-google-plus" aria-hidden="true"></i>login with google plus</a>#}
    {#                                </form>#}
    {#                            </div>#}
    {#                        </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Wrapper start -->
        <div class="rle_pagetitle_wrapper rle_toppadder10 rle_bottompadder10" style="margin-top: 70px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="page_title">
                            <h2>Property list</h2>
                        </div>
                        <ul class="breadcrumb">
                            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/property-listing/">Property list</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab Form Section start -->
        <div class="rle_searchform_wrapper2 rle_toppadder20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_searchform_tabs style_3">
                            <div class="row">
                                <div class="rle_searchform_box style_3">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <input type="search" placeholder="City or Locality" v-model="filterInput">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select id="filter-property-list">
                                            <option value="all">All Properties</option>
{#                                            <option value="budget">Budget</option>#}
                                            <option value="city">City</option>
                                            <option value="locality">Locality</option>
                                        </select>
                                    </div>
{#                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">#}
{#                                        <select>#}
{#                                            <option>Property status</option>#}
{#                                            <option value="1">Status 1</option>#}
{#                                            <option value="2">Status 2</option>#}
{#                                            <option value="3">Status 3</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">#}
{#                                        <select>#}
{#                                            <option>All property types</option>#}
{#                                            <option value="1">Types 1</option>#}
{#                                            <option value="2">Types 2</option>#}
{#                                            <option value="3">Types 3</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">#}
{#                                        <select>#}
{#                                            <option>Bedroom</option>#}
{#                                            <option value="1">1</option>#}
{#                                            <option value="2">2</option>#}
{#                                            <option value="3">3</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">#}
{#                                        <select>#}
{#                                            <option>Bathroom</option>#}
{#                                            <option value="1">1</option>#}
{#                                            <option value="2">2</option>#}
{#                                            <option value="3">3</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">#}
{#                                    <select>#}
{#                                        <option>Parking</option>#}
{#                                        <option value="1">Parking 1</option>#}
{#                                        <option value="2">Parking 2</option>#}
{#                                        <option value="3">Parking 3</option>#}
{#                                    </select>#}
{#                                    </div>#}
{#                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">#}
{#                                        <label for="amount">Price</label>#}
{#                                        <div id="slider-range"></div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">#}
{#                                        <label for="amount">Area</label>#}
{#                                        <div id="slider-area"></div>#}
{#                                    </div>#}
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <button class="rle_btn" v-on:click="filterPropertyList">
{#                                            <i class="fa fa-search" aria-hidden="true"></i>#}
                                            Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <!-- Map Wrapper start -->#}
{#        <div class="rle_map_wrapper">#}
{#            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0002965527756!2d-122.4030338489716!3d37.79003281895475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580627b5ea1d1%3A0x60fd99496057cf74!2s548+Market+St%2C+San+Francisco%2C+CA+94104%2C+USA!5e0!3m2!1sen!2sin!4v1489661568846" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#        </div>#}
        <!-- Property Wrapper start -->
        <div class="rle_property_wrapper rle_toppadder10 rle_bottompadder70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_shorting_wrapper">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                    <ul class="rle_short_by">
                                        <li>
                                        <span>Sort by</span>
                                        <select id="sort-property-list" v-on:change="sortPropertyList">
                                            <option value="new">Newest</option>
{#                                            <option value="lth">Price (Low - High)</option>#}
{#                                            <option value="htl">Price (High - Low)</option>#}
                                            <option value="area">Area</option>
                                        </select>
                                        </li>
{#                                        <li>#}
{#                                        <span>Filter</span>#}
{#                                        <select id="filter-property-list" v-on:change="filterPropertyList">#}
{#                                            <option value="all">All</option>#}
{#                                            <option value="budget">Budget</option>#}
{#                                            <option value="city">City</option>#}
{#                                            <option value="locality">Locality</option>#}
{#                                        </select>#}
{#                                        </li>#}
                                    </ul>
                                </div>
{#                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">#}
{#                                    <ul class="rle_view_type">#}
{#                                        <span>View</span>#}
{#                                        <li><a href="property_gird_fullwidth.html"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>#}
{#                                        <li><a href="property_list_fullwidth.html"><i class="fa fa-list-ul" aria-hidden="true"></i></a></li>#}
{#                                        <li><a href="property_map.html"><i class="fa fa-map" aria-hidden="true"></i></a></li>#}
{#                                    </ul>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div v-if="searchResults" v-for="item in searchResults" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_property_infobox vhHeight" v-on:click="productDetails(item.id)">
                            <div class="row" style="height: 100%!important;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="height: 100%!important;">
                                    <div class="rle_property_infobox_img" style="height: 100%!important;">
                                        <img v-if="item.images.length > 0" :src="item.images[0].file" alt="" title="" style="height: 100%!important;">
                                        <img v-else src="http://placehold.it/370x300" alt="" title="">
{#                                        <span v-if="item.rental_value"><sup>Rs </sup>{% verbatim %}{{ item.rental_value }}{% endverbatim %}</span>#}
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="height: 100%!important;">
                                    <div class="rle_property_infobox_details" style="height: 100%!important;">
                                        <div class="rle_property_infobox_details_header" style="height: 26.2vh!important;">
{#                                            <ul>#}
{#                                                <li class="rle_green_clr">for rent</li>#}
{#                                                <li class="rle_black_clr">hot offer</li>#}
{#                                            </ul>#}
                                            <h3><a href="#">{% verbatim %}{{ item.property_name }}{% endverbatim %}</a></h3>
                                            <p v-if="item.address">{% verbatim %}{{ item.address.name }} {{ item.address.locality }} {{ item.address.city }} {{ item.address.state }}{% endverbatim %}</p>
                                            <span v-if="item.description" v-html="item.description" style="height: 15vh!important;overflow-y: auto;"></span>
                                        </div>
                                        <div class="rle_property_infobox_details_footer">
                                            <p v-if="item.buildup_area && item.unit_of_area">Builtup Area: upto {% verbatim %}{{ item.buildup_area }} {{ item.unit_of_area }}{% endverbatim %} </p>
                                            <p v-if="item.floor_num">Floor Number : {% verbatim %}{{ item.floor_num }}{% endverbatim %} </p>
                                            <p v-if="item.units_on_floor">Seating Space upto {% verbatim %}{{ item.units_on_floor }}{% endverbatim %} </p>
{#                                            <ul>#}
{#                                                <li><i class="fa fa-bed" aria-hidden="true"></i> 03</li>#}
{#                                                <li><i class="fa fa-bath" aria-hidden="true"></i> 02</li>#}
{#                                                <li><i class="fa fa-taxi" aria-hidden="true"></i> yes</li>#}
{#                                            </ul>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="processing" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                        <img src="{% static 'theme/images/preloader.gif' %}">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rle_pagination_wrapper">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a v-if="pageNum > 1" v-on:click="prevPage"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                                        <a v-else><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                                    </li>
                                    <li v-if="pageNum === 1" class="active"><a v-if="count >= 1" v-on:click="staticPage(1)" href="#">01</a></li>
                                    <li v-else><a v-if="count >= 1" v-on:click="staticPage(1)" href="#">01</a></li>
                                    <li v-if="pageNum === 2" class="active"><a v-if="count >= 2" v-on:click="staticPage(2)" href="#">02</a></li>
                                    <li v-else><a v-if="count >= 2" v-on:click="staticPage(2)" href="#">02</a></li>
                                    <li v-if="pageNum === 3" class="active"><a v-if="count >= 3" v-on:click="staticPage(3)" href="#">03</a></li>
                                    <li v-else><a v-if="count >= 3" v-on:click="staticPage(3)" href="#">03</a></li>
                                    <li v-if="pageNum === 4" class="active"><a v-if="count >= 4" v-on:click="staticPage(4)" href="#">04</a></li>
                                    <li v-else><a v-if="count >= 4" v-on:click="staticPage(4)" href="#">04</a></li>
                                    <li v-if="pageNum === 5" class="active"><a v-if="count >= 5" v-on:click="staticPage(5)" href="#">05</a></li>
                                    <li v-else><a v-if="count >= 5" v-on:click="staticPage(5)" href="#">05</a></li>
                                    <li v-if="pageNum === 6" class="active"><a v-if="count >= 6" v-on:click="staticPage(6)" href="#">06</a></li>
                                    <li v-else><a v-if="count >= 6" v-on:click="staticPage(6)" href="#">06</a></li>
                                    <li v-if="pageNum === 7" class="active"><a v-if="count >= 7" v-on:click="staticPage(7)" href="#">07</a></li>
                                    <li v-else><a v-if="count >= 7" v-on:click="staticPage(7)" href="#">07</a></li>
                                    <li v-if="pageNum === 8" class="active"><a v-if="count >= 8" v-on:click="staticPage(8)" href="#">08</a></li>
                                    <li v-else><a v-if="count >= 8" v-on:click="staticPage(8)" href="#">08</a></li>
                                    <li v-if="pageNum === 9" class="active"><a v-if="count >= 9" v-on:click="staticPage(9)" href="#">09</a></li>
                                    <li v-else><a v-if="count >= 9" v-on:click="staticPage(9)" href="#">09</a></li>
                                    <li v-if="pageNum === 10" class="active"><a v-if="count >= 10" v-on:click="staticPage(10)" href="#">10</a></li>
                                    <li v-else><a v-if="count >= 10" v-on:click="staticPage(10)" href="#">10</a></li>
                                    <li class="active">
                                        <a v-if="pageNum <= count" v-on:click="nextPage" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
                                        <a v-else><i class="fa fa-angle-double-right" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <!-- Partner Wrapper start -->#}
{#        <div class="rle_partner_wrapper rle_toppadder60 rle_bottompadder60">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <ul>#}
{#                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>#}
{#                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>#}
{#                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>#}
{#                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>#}
{#                        <li><img src="http://placehold.it/117x47" alt="" title=""></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}
{% block page_level_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="{% static 'website-theme/js/website-js/listing.js' %}"></script>
{% endblock page_level_scripts %}
